<div class="modal-body" id="modal-body">
    
    <div class="ModalContent" >
        <h4 class="mTitle">Booking</h4>
        <span class="mClose" style="margin-top:-35px;">
            <a ng-click="$ctrl.handleClose()"><i class="material-icons">close</i></a>
        </span>
        <hr class="separator" />
        <br/>
        <div class="mBook">
            <div class="form-group">
                <div class="column-left"> 
                    <label for="checkIn">Check In:</label>
                    <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="{{ $ctrl.modalData.dIn }}" class="form-control" name="checkIn" ng-model="$ctrl.modalData.dIn">
                </div>
                <div class="column-center">
                    <label for="checkOut">Check Out:</label>
                    <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="{{ $ctrl.modalData.dOut }}" class="form-control" name="checkOut" ng-model="$ctrl.modalData.dOut">
                </div>
                <div class="column-right">
                    <label for="total">Total:</label>
                    <input type="text" class="form-control" name="total" disabled="disabled"  ng-model="$ctrl.modalData.total">
                </div>					
            </div>

            <div class="form-group">
                <div class="column-4left"> 
                    <label for="guests">Adults:</label><br>
                    <button class="counter-btn" type="button" ng-click="$ctrl.minusCounter(1)">-</button>
                    <input class="iNumber" type="text" id="guestNo" name="guests"  ng-model="$ctrl.modalData.guest" disabled="disabled"/>
                    <button class="counter-btn" type="button" ng-click="$ctrl.plusCounter(1)">+</button>                    
                </div>
                <div class="column-4center">
                    <label for="guests">Children:</label><br>
                    <button class="counter-btn" type="button" ng-click="$ctrl.minusCounter(2)">-</button>
                    <input class="iNumber" type="text" id="guestNo" name="children"  ng-model="$ctrl.modalData.children" disabled="disabled"/>
                    <button class="counter-btn" type="button" ng-click="$ctrl.plusCounter(2)">+</button> 
                </div>
                <div class="column-4center2">
                    <label for="guests">Room:</label><br>
                    <button class="counter-btn" type="button" ng-click="$ctrl.minusCounter(3)">-</button>
                    <input class="iNumber" type="text" id="guestNo" name="room"  ng-model="$ctrl.modalData.room" disabled="disabled"/>
                    <button class="counter-btn" type="button" ng-click="$ctrl.plusCounter(3)">+</button>
                </div>
                <div class="column-4right">
                    <label for="name">Select:</label>
                    <button style="width:100%; height: 35px; padding: 0px;" class="btn btn-primary1" ng-click="vm.cancel()">
                            Select Rooms
                    </button>
                </div>						
            </div>
            <hr class="separator" />
            <div class="sRoom"> 
                <h5 class="TitleCont1">Habitaciones Seleccionadas: </h5>
                <!-- cards -->
                <div class="barRoomSelected">
                    <div class="card-media">
                        <!-- media container -->
                        <div class="card-media-object-container">
                          <div class="card-media-object" style="background-image: url(http://miamihotelsweb.com/wp-content/uploads/2016/02/WOW-690x380-Room-HR-Hotel-Room-Partial-Ocean-View-View-Refreshed.jpg);"></div>
                          <span class="card-media-object-tag subtle">Business</span>
                          <ul class="card-media-object-social-list">        
                            <li class="card-media-object-social-list-item-additional">
                              <span><a href="#">View</a></span>
                            </li>
                          </ul>
                        </div>
                        <!-- body container -->
                        <div class="card-media-body">
                          <div class="card-media-body-top">
                            <span class="subtle">Price: US $ 200.99.</span>
                            <div class="card-media-body-top-icons u-float-right">
                              <i class="material-icons md-14" style="vertical-align: middle;">people</i><span class="subtle">: 04</span>
                            </div>
                          </div>
                          <span class="card-media-body-heading">
                            Room Number: 404
                          </span>                          
                          <div class="card-media-body-supporting-bottom">
                            <span class="card-media-body-supporting-bottom-text subtle">
                              <ul class="tagList">                
                                    <li>
                                        <i class="material-icons" tooltip-placement="bottom" uib-tooltip="Text">wifi</i>
                                        <i class="material-icons" tooltip-placement="bottom" uib-tooltip="Text">wifi</i>
                                        <i class="material-icons" tooltip-placement="bottom" uib-tooltip="Text">wifi</i>
                                        <i class="material-icons" tooltip-placement="bottom" uib-tooltip="Text">wifi</i>
                                        <i class="material-icons" tooltip-placement="bottom" uib-tooltip="Text">wifi</i>
                                        <i class="material-icons" tooltip-placement="bottom" uib-tooltip="Text">wifi</i> 
                                        <i class="material-icons" tooltip-placement="bottom" uib-tooltip="Text">wifi</i>                                                                              
                                    </li>        
                                </ul>
                            </span>
                            <!--/*<span class="card-media-body-supporting-bottom-text subtle u-float-right">Free &ndash; $30</span> -->
                          </div>
                          <div class="card-media-body-supporting-bottom card-media-body-supporting-bottom-reveal">                            
                            <a href="#/" class="card-media-body-supporting-bottom-text card-media-link u-float-right">Pospone</a>
                            <a href="#/" class="card-media-body-supporting-bottom-text card-action-link u-float-right">Remove</a>
                          </div>
                        </div>
                      </div>
                      <!-- ------------------------------- -->
                    <div class="card-media">
                        <!-- media container -->
                        <div class="card-media-object-container">
                          <div class="card-media-object" style="background-image: url(http://miamihotelsweb.com/wp-content/uploads/2016/02/WOW-690x380-Room-HR-Hotel-Room-Partial-Ocean-View-View-Refreshed.jpg);"></div>
                          <span class="card-media-object-tag subtle">Business</span>
                          <ul class="card-media-object-social-list">        
                            <li class="card-media-object-social-list-item-additional">
                              <span><a href="#">View</a></span>
                            </li>
                          </ul>
                        </div>
                        <!-- body container -->
                        <div class="card-media-body">
                          <div class="card-media-body-top">
                            <span class="subtle">Price: US $ 100.99.</span>
                            <div class="card-media-body-top-icons u-float-right">
                              <i class="material-icons md-14" style="vertical-align: middle;">people</i><span class="subtle">: 04</span>
                            </div>
                          </div>
                          <span class="card-media-body-heading">
                            Room Number: 405
                          </span>                          
                          <div class="card-media-body-supporting-bottom">
                            <span class="card-media-body-supporting-bottom-text subtle">
                              <ul class="tagList">                
                                    <li>
                                        <i class="material-icons" tooltip-placement="bottom" uib-tooltip="Text">wifi</i>
                                        <i class="material-icons" tooltip-placement="bottom" uib-tooltip="Text">wifi</i>
                                        <i class="material-icons" tooltip-placement="bottom" uib-tooltip="Text">wifi</i>
                                        <i class="material-icons" tooltip-placement="bottom" uib-tooltip="Text">wifi</i>
                                        <i class="material-icons" tooltip-placement="bottom" uib-tooltip="Text">wifi</i>
                                        <i class="material-icons" tooltip-placement="bottom" uib-tooltip="Text">wifi</i> 
                                        <i class="material-icons" tooltip-placement="bottom" uib-tooltip="Text">wifi</i>                                                                              
                                    </li>        
                                </ul>
                            </span>
                            <!--/*<span class="card-media-body-supporting-bottom-text subtle u-float-right">Free &ndash; $30</span> -->
                          </div>
                          <div class="card-media-body-supporting-bottom card-media-body-supporting-bottom-reveal">                            
                            <a href="#/" class="card-media-body-supporting-bottom-text card-media-link u-float-right">Pospone</a>
                            <a href="#/" class="card-media-body-supporting-bottom-text card-action-link u-float-right">Remove</a>
                          </div>
                        </div>
                      </div
                    
                    
                </div>
            </div>
            <!-- Here put a divider -->
            <!-- terms & condition of the services -->
            <p id="terms">
                By clicking Book, you agree to our <a href="#" class="SingUp">Terms</a> and <a href="#" class="SingUp">Condition</a> of Payments.
            </p>
        </div>
    </div>
</div>
<div class="modal-footer" id="modal-footer">
    <button style="width:100%;" class="btn btn-primary1" ng-click="$ctrl.handleClose()">
            {{ 'PayTitle' | translate }}
    </button>
</div>