<link rel="stylesheet" href="../../assets/css/NavBar.css">
<style>
    .navbar {
        display: inline-block;
        width: 100%;
        border-radius: 0px;
    }
</style>
<!-- INICIO DEL MENU-->
<div class="ContenedorMenu">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-click="$ctrl.isNavCollapsed = !$ctrl.isNavCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="Home">{{ 'BrandTitle' | translate }}</a>
            
        </div>        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" uib-collapse="$ctrl.isNavCollapsed">
            <div class="nav navbar-nav navbar-left" >
                <form class="navbar-form">
                    <div class="searchbar">
                        <input type="search" class="searchbar--input" placeholder="{{ 'SearchTitle' | translate }}...">
                        <div class="searchbar--buttons">
                            <input type="submit" class="searchbar--submit" value="{{ 'SearchTitle' | translate }}">
                            <div class="select-wrapper">
                                <select class="searchbar--select">
                                    <option value="0" selected translate>searchOptionTitle</option>
                                    <option value="1" translate>SearchOptionTitle1</option>
                                    <option value="2" translate>SearchOptionTitle2</option>
                                    <option value="3" translate>SearchOptionTitle3</option>
                                    <option value="4" translate>SearchOptionTitle4</option>
                                    <option value="5" translate>SearchOptionTitle5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <ul id="NavBarMenu" class="nav navbar-nav navbar-right">                
                <li uib-dropdown>
                  <a id="notification" href="#" ng-click="$ctrl.notif()" uib-dropdown-toggle>
                      <i class="material-icons">notifications</i>
                  </a>
                  <div class="notifications" uib-dropdown-menu role="menu" aria-labelledby="notification">
                    <div class="HeaderContainer">
                      <a class="BtnNotification" style="float: left;" href="#"><i class="material-icons">remove_red_eye</i></a>
                      <a class="BtnNotification" style="float: right; margin-right: 5px;" href="#"><i class="material-icons">settings</i></a>
                      <p translate>NotificationTitle</p>
                    </div>
                    <div class="NotificationBody">
                      <div class="NotificationContent">
                        <p class="NotificationTitle" translate>NotificationCategoryTitle1</p>
                        <div class="NotificationList">
                            <div class="Notification" ng-repeat="message in $ctrl.message track by $index">
                                <div class="NotificationImage"><img src="{{ message.img }}" alt=""></div>
                                <input type="checkbox" class="circle"/>
                                <p class="NotificationOwner">{{ message.title }}</p>
                                <p class="NotificationDate">{{ message.date }}</p>
                            </div>                           
                        </div>
                      </div>
                      <div class="NotificationContent">
                        <p class="NotificationTitle" translate>NotificationCategoryTitle2</p>
                        <div class="NotificationList">
                            <div class="Notification" ng-repeat="tag in $ctrl.tag track by $index">
                                <div class="NotificationImage"><img src="{{ tag.img }}" alt=""></div>
                                <input type="checkbox" class="circle"/>
                                <p class="NotificationOwner">{{ tag.title }}</p>
                                <p class="NotificationDate">{{ tag.date }}</p>
                            </div>         
                        </div>
                    </div>
                    <div class="NotificationContent">
                      <p class="NotificationTitle" translate>NotificationCategoryTitle3</p>
                      <div class="NotificationList">
                          <div class="Notification" ng-repeat="comment in $ctrl.comment track by $index">
                              <div class="NotificationImage"><img src="{{ comment.img }}" alt=""></div>
                              <input type="checkbox" class="circle"/>
                              <p class="NotificationOwner">{{ comment.title }}</p>
                              <p class="NotificationDate">{{ comment.date }}</p>
                          </div>
                      </div>
                    </div>
                    <div class="NotificationContent">
                      <p class="NotificationTitle" translate>NotificationCategoryTitle4</p>
                      <div class="NotificationList">
                          <div class="Notification" ng-repeat="appraisal in $ctrl.appraisal track by $index">
                              <div class="NotificationImage"><img src="{{ appraisal.img }}" alt=""></div>
                              <input type="checkbox" class="circle"/>
                              <p class="NotificationOwner">{{ appraisal.title }}</p>
                              <p class="NotificationDate">{{ appraisal.date }}</p>
                          </div>
                         
                      </div>
                    </div>
                  </div>
                  </div>
                </li>
                <li  tooltip-placement="bottom" uib-tooltip="{{ 'WelcomeTitle' | translate }} {{ vm.username }}" >
                    <a href="#"><i class="material-icons">account_circle</i></a>
                </li>
                <!-------------------------------------------------------------------!-->
                <li>
                    <a href="#" ng-click="$ctrl.open()"><i class="material-icons">event_note</i></a>
                </li>
                <li uib-dropdown>
                    <a id="location" href="#" uib-dropdown-toggle>
                        <i class="material-icons">place</i>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="location" style="color:black">                    
                        <li role="menuitem" class="radio">
                            <input id="radio-1" name="rd" type="radio" checked>
                            <label for="radio-1" class="radio-label">Nicaragua</label>
                        </li>
                        <li role="menuitem" class="radio">
                            <input id="radio-2" name="rd" type="radio">
                            <label  for="radio-2" class="radio-label">Honduras</label>
                        </li>
                        <li role="menuitem" class="radio">
                            <input id="radio-3" name="rd" type="radio">
                            <label  for="radio-3" class="radio-label">Costa Rica</label>
                        </li>                        
                        <li class="divider"></li>
                        <li role="menuitem"><a href="#" ng-click=""><i class="material-icons" style="vertical-align: middle;">add</i> {{ 'AddCountryTitle' | translate }} </a></li>                        
                    </ul>
                </li>
                <!-------------------------------------------------------------------!-->
                <li uib-dropdown>
                    <a id="language" href="#" uib-dropdown-toggle>
                        <i class="material-icons">language</i>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="language">
                      <li role="menuitem" ng-repeat="lan in $ctrl.listLan"><a href="#" ng-click="$ctrl.changeLang(lan.key)">{{ lan.value }}</a></li>
                    </ul>
                </li>
                <li uib-dropdown>
                    <a id="more" href="#" uib-dropdown-toggle>
                        <i class="material-icons">more_vert</i>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="more">
                        <li role="menuitem"></li>
                        <li role="menuitem"><a href="#" ng-click="">{{ 'SettingsOpt2' | translate }}</a></li>
                        <li role="menuitem"><a ui-sref="Welcome" ng-click="">{{ 'SettingsOpt3' | translate }}</a></li>
                        <li class="divider"></li>
                        <li role="menuitem"><a href="#" ng-click="">{{ 'SettingsOpt4' | translate }}</a></li>
                        <li role="menuitem"><a href="#" ng-click="">{{ 'SettingsOpt5' | translate }}</a></li>
                    </ul>
                </li>
 <!--------------------------------------------------------------------- !-->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</div>
<!-- FIN DEL MENU-->
