<link rel="stylesheet" href="../../../assets/css/FloatTiles.css">
<link rel="stylesheet" href="../../../assets/css/Preferences.css">
<div class="ContainerAlltoAll" id="colored">
    <div ng-include src="'modules/templates/NavBar.html'"> </div>

<div class=mcont><!-- Contenedor general -->
    <div class="address"><!-- Este es el contenedor de cada publicación -->
            <label class="control control--checkbox" style="float:right; margin-right:10px; margin-top:10px;"><!--Este es el checkbox circular -->
              <input type="checkbox" checked="checked"/>
              <div class="control__indicator"></div>
            </label>
            <div class="coverPic"><!-- Para poner una imágen referente a la publicación -->
                <img src="../../assets/files/img/main/preferences/soccer.png" alt="">
            </div>
            <div class="detail"><!-- contenedor donde se incluye el detalle que acompaña a la publicación -->
                <div class="addressText">
                    <p class="title" translate>FootballTitle</p> <!-- Título de la publicavión-->
                    <p class="contentdetail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p> <!-- Publicación -->
                </div>
            </div> <!-- Fin detail -->
    </div> <!--Fin address -->
    <div class="address"><!-- Este es el contenedor de cada publicación -->
            <label class="control control--checkbox" style="float:right; margin-right:10px; margin-top:10px;"><!--Este es el checkbox circular -->
              <input type="checkbox" checked="checked"/>
              <div class="control__indicator"></div>
            </label>
            <div class="coverPic"><!-- Para poner una imágen referente a la publicación -->
                <img src="../../assets/files/img/main/preferences/basketball.png" alt="">
            </div>
            <div class="detail"><!-- contenedor donde se incluye el detalle que acompaña a la publicación -->
                <div class="addressText">
                    <p class="title" translate>BasketballTitle</p> <!-- Título de la publicavión-->
                    <p class="contentdetail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p> <!-- Publicación -->
                </div>
            </div> <!-- Fin detail -->
    </div> <!--Fin address -->
    <div class="address"><!-- Este es el contenedor de cada publicación -->
            <label class="control control--checkbox" style="float:right; margin-right:10px; margin-top:10px;"><!--Este es el checkbox circular -->
              <input type="checkbox" checked="checked"/>
              <div class="control__indicator"></div>
            </label>
            <div class="coverPic"><!-- Para poner una imágen referente a la publicación -->
                <img src="../../assets/files/img/main/preferences/baseball.png" alt="">
            </div>
            <div class="detail"><!-- contenedor donde se incluye el detalle que acompaña a la publicación -->
                <div class="addressText">
                    <p class="title" translate>BaseballTitle</p> <!-- Título de la publicavión-->
                    <p class="contentdetail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p> <!-- Publicación -->
                </div>
            </div> <!-- Fin detail -->
    </div> <!--Fin address -->
    <div class="address"><!-- Este es el contenedor de cada publicación -->
            <label class="control control--checkbox" style="float:right; margin-right:10px; margin-top:10px;"><!--Este es el checkbox circular -->
              <input type="checkbox" checked="checked"/>
              <div class="control__indicator"></div>
            </label>
            <div class="coverPic"><!-- Para poner una imágen referente a la publicación -->
                <img src="../../assets/files/img/main/preferences/tennis.png" alt="">
            </div>
            <div class="detail"><!-- contenedor donde se incluye el detalle que acompaña a la publicación -->
                <div class="addressText">
                    <p class="title" translate>TennisTitle</p> <!-- Título de la publicavión-->
                    <p class="contentdetail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p> <!-- Publicación -->
                </div>
            </div> <!-- Fin detail -->
    </div> <!--Fin address -->
    <div class="address"><!-- Este es el contenedor de cada publicación -->
            <label class="control control--checkbox" style="float:right; margin-right:10px; margin-top:10px;"><!--Este es el checkbox circular -->
              <input type="checkbox" checked="checked"/>
              <div class="control__indicator"></div>
            </label>
            <div class="coverPic"><!-- Para poner una imágen referente a la publicación -->
                <img src="../../assets/files/img/main/preferences/swimming.png" alt="">
            </div>
            <div class="detail"><!-- contenedor donde se incluye el detalle que acompaña a la publicación -->
                <div class="addressText">
                    <p class="title" translate>SwimmingTitle</p> <!-- Título de la publicavión-->
                    <p class="contentdetail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p> <!-- Publicación -->
                </div>
            </div> <!-- Fin detail -->
    </div> <!--Fin address -->
    <div class="address"><!-- Este es el contenedor de cada publicación -->
            <label class="control control--checkbox" style="float:right; margin-right:10px; margin-top:10px;"><!--Este es el checkbox circular -->
              <input type="checkbox" checked="checked"/>
              <div class="control__indicator"></div>
            </label>
            <div class="coverPic"><!-- Para poner una imágen referente a la publicación -->
                <img src="../../assets/files/img/main/preferences/cycling.jpg" alt="">
            </div>
            <div class="detail"><!-- contenedor donde se incluye el detalle que acompaña a la publicación -->
                <div class="addressText">
                    <p class="title" translate>CyclingTitle</p> <!-- Título de la publicavión-->
                    <p class="contentdetail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p> <!-- Publicación -->
                </div>
            </div> <!-- Fin detail -->
    </div> <!--Fin address -->
    <div class="address"><!-- Este es el contenedor de cada publicación -->
            <label class="control control--checkbox" style="float:right; margin-right:10px; margin-top:10px;"><!--Este es el checkbox circular -->
              <input type="checkbox" checked="checked"/>
              <div class="control__indicator"></div>
            </label>
            <div class="coverPic"><!-- Para poner una imágen referente a la publicación -->
                <img src="../../assets/files/img/main/preferences/athletics.png" alt="">
            </div>
            <div class="detail"><!-- contenedor donde se incluye el detalle que acompaña a la publicación -->
                <div class="addressText">
                    <p class="title" translate>AthleticsTitle</p> <!-- Título de la publicavión-->
                    <p class="contentdetail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p> <!-- Publicación -->
                </div>
            </div> <!-- Fin detail -->
    </div> <!--Fin address -->
    <div class="address"><!-- Este es el contenedor de cada publicación -->
            <label class="control control--checkbox" style="float:right; margin-right:10px; margin-top:10px;"><!--Este es el checkbox circular -->
              <input type="checkbox" checked="checked"/>
              <div class="control__indicator"></div>
            </label>
            <div class="coverPic"><!-- Para poner una imágen referente a la publicación -->
                <img src="../../assets/files/img/main/preferences/trekking.png" alt="">
            </div>
            <div class="detail"><!-- contenedor donde se incluye el detalle que acompaña a la publicación -->
                <div class="addressText">
                    <p class="title" translate>TrekkingTitle</p> <!-- Título de la publicavión-->
                    <p class="contentdetail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p> <!-- Publicación -->
                </div>
            </div> <!-- Fin detail -->
    </div> <!--Fin address -->
    <div class="address"><!-- Este es el contenedor de cada publicación -->
            <label class="control control--checkbox" style="float:right; margin-right:10px; margin-top:10px;"><!--Este es el checkbox circular -->
              <input type="checkbox" checked="checked"/>
              <div class="control__indicator"></div>
            </label>
            <div class="coverPic"><!-- Para poner una imágen referente a la publicación -->
                <img src="../../assets/files/img/main/preferences/canopy.png" alt="">
            </div>
            <div class="detail"><!-- contenedor donde se incluye el detalle que acompaña a la publicación -->
                <div class="addressText">
                    <p class="title" translate>CanopyTitle</p> <!-- Título de la publicavión-->
                    <p class="contentdetail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p> <!-- Publicación -->
                </div>
            </div> <!-- Fin detail -->
    </div> <!--Fin address -->
    <div class="address"><!-- Este es el contenedor de cada publicación -->
            <label class="control control--checkbox" style="float:right; margin-right:10px; margin-top:10px;"><!--Este es el checkbox circular -->
              <input type="checkbox" checked="checked"/>
              <div class="control__indicator"></div>
            </label>
            <div class="coverPic"><!-- Para poner una imágen referente a la publicación -->
                <img src="../../assets/files/img/main/preferences/fishing.ico" alt="">
            </div>
            <div class="detail"><!-- contenedor donde se incluye el detalle que acompaña a la publicación -->
                <div class="addressText">
                    <p class="title" translate>FishingTitle</p> <!-- Título de la publicavión-->
                    <p class="contentdetail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p> <!-- Publicación -->
                </div>
            </div> <!-- Fin detail -->
    </div> <!--Fin address -->
    <div class="address"><!-- Este es el contenedor de cada publicación -->
            <label class="control control--checkbox" style="float:right; margin-right:10px; margin-top:10px;"><!--Este es el checkbox circular -->
              <input type="checkbox" checked="checked"/>
              <div class="control__indicator"></div>
            </label>
            <div class="coverPic"><!-- Para poner una imágen referente a la publicación -->
                <img src="../../assets/files/img/main/preferences/marathon.png" alt="">
            </div>
            <div class="detail"><!-- contenedor donde se incluye el detalle que acompaña a la publicación -->
                <div class="addressText">
                    <p class="title" translate>MarathonTitle</p> <!-- Título de la publicavión-->
                    <p class="contentdetail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p> <!-- Publicación -->
                </div>
            </div> <!-- Fin detail -->
    </div> <!--Fin address -->
    <div class="address"><!-- Este es el contenedor de cada publicación -->
            <label class="control control--checkbox" style="float:right; margin-right:10px; margin-top:10px;"><!--Este es el checkbox circular -->
              <input type="checkbox" checked="checked"/>
              <div class="control__indicator"></div>
            </label>
            <div class="coverPic"><!-- Para poner una imágen referente a la publicación -->
                <img src="../../assets/files/img/main/preferences/skating.png" alt="">
            </div>
            <div class="detail"><!-- contenedor donde se incluye el detalle que acompaña a la publicación -->
                <div class="addressText">
                    <p class="title" translate>SkatingTitle</p> <!-- Título de la publicavión-->
                    <p class="contentdetail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p> <!-- Publicación -->
                </div>
            </div> <!-- Fin detail -->
    </div> <!--Fin address -->
</div><!-- Fin contenedor general -->