<link rel="stylesheet" href="../../../assets/css/FloatTiles.css">
<link rel="stylesheet" href="../../../assets/css/Preferences.css">
<div class="ContainerAlltoAll">
    <div ng-include src="'modules/templates/NavBar.html'"> </div>

<div class=mcont><!-- Contenedor general -->
    <div class="address"><!-- Este es el contenedor de cada publicación -->
            <label class="control control--checkbox" style="float:right; margin-right:10px; margin-top:10px;"><!--Este es el checkbox circular -->
              <input type="checkbox" checked="checked"/>
              <div class="control__indicator"></div>
            </label>
            <div class="coverPic"><!-- Para poner una imágen referente a la publicación -->
                <img src="../../assets/files/img/main/preferences/pv1.png" alt="">
            </div>
            <div class="detail"><!-- contenedor donde se incluye el detalle que acompaña a la publicación -->
                <div class="addressText">
                    <p class="title">Football Soccer</p> <!-- Título de la publicavión-->
                    <p class="contentdetail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p> <!-- Publicación -->
                </div>
            </div> <!-- Fin detail -->
    </div> <!--Fin address -->
    <div class="address"><!-- Este es el contenedor de cada publicación -->
            <label class="control control--checkbox" style="float:right; margin-right:10px; margin-top:10px;"><!--Este es el checkbox circular -->
              <input type="checkbox" checked="checked"/>
              <div class="control__indicator"></div>
            </label>
            <div class="coverPic"><!-- Para poner una imágen referente a la publicación -->
                <img src="../../assets/files/img/main/preferences/pv2.jpg" alt="">
            </div>
            <div class="detail"><!-- contenedor donde se incluye el detalle que acompaña a la publicación -->
                <div class="addressText">
                    <p class="title">Basket Ball</p> <!-- Título de la publicavión-->
                    <p class="contentdetail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p> <!-- Publicación -->
                </div>
            </div> <!-- Fin detail -->
    </div> <!--Fin address -->
    <div class="address"><!-- Este es el contenedor de cada publicación -->
            <label class="control control--checkbox" style="float:right; margin-right:10px; margin-top:10px;"><!--Este es el checkbox circular -->
              <input type="checkbox" checked="checked"/>
              <div class="control__indicator"></div>
            </label>
            <div class="coverPic"><!-- Para poner una imágen referente a la publicación -->
                <img src="../../assets/files/img/main/preferences/pv3.jpg" alt="">
            </div>
            <div class="detail"><!-- contenedor donde se incluye el detalle que acompaña a la publicación -->
                <div class="addressText">
                    <p class="title">Base Ball</p> <!-- Título de la publicavión-->
                    <p class="contentdetail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p> <!-- Publicación -->
                </div>
            </div> <!-- Fin detail -->
    </div> <!--Fin address -->
    <div class="address"><!-- Este es el contenedor de cada publicación -->
            <label class="control control--checkbox" style="float:right; margin-right:10px; margin-top:10px;"><!--Este es el checkbox circular -->
              <input type="checkbox" checked="checked"/>
              <div class="control__indicator"></div>
            </label>
            <div class="coverPic"><!-- Para poner una imágen referente a la publicación -->
                <img src="../../assets/files/img/main/preferences/pv4.jpg" alt="">
            </div>
            <div class="detail"><!-- contenedor donde se incluye el detalle que acompaña a la publicación -->
                <div class="addressText">
                    <p class="title">Tennis</p> <!-- Título de la publicavión-->
                    <p class="contentdetail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p> <!-- Publicación -->
                </div>
            </div> <!-- Fin detail -->
    </div> <!--Fin address -->
    <div class="address"><!-- Este es el contenedor de cada publicación -->
            <label class="control control--checkbox" style="float:right; margin-right:10px; margin-top:10px;"><!--Este es el checkbox circular -->
              <input type="checkbox" checked="checked"/>
              <div class="control__indicator"></div>
            </label>
            <div class="coverPic"><!-- Para poner una imágen referente a la publicación -->
                <img src="../../assets/files/img/main/preferences/pv5.jpg" alt="">
            </div>
            <div class="detail"><!-- contenedor donde se incluye el detalle que acompaña a la publicación -->
                <div class="addressText">
                    <p class="title">Natación</p> <!-- Título de la publicavión-->
                    <p class="contentdetail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p> <!-- Publicación -->
                </div>
            </div> <!-- Fin detail -->
    </div> <!--Fin address -->
    <div class="address"><!-- Este es el contenedor de cada publicación -->
            <label class="control control--checkbox" style="float:right; margin-right:10px; margin-top:10px;"><!--Este es el checkbox circular -->
              <input type="checkbox" checked="checked"/>
              <div class="control__indicator"></div>
            </label>
            <div class="coverPic"><!-- Para poner una imágen referente a la publicación -->
                <img src="../../assets/files/img/main/preferences/pv6.jpg" alt="">
            </div>
            <div class="detail"><!-- contenedor donde se incluye el detalle que acompaña a la publicación -->
                <div class="addressText">
                    <p class="title">Ciclismo</p> <!-- Título de la publicavión-->
                    <p class="contentdetail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p> <!-- Publicación -->
                </div>
            </div> <!-- Fin detail -->
    </div> <!--Fin address -->
    <div class="address"><!-- Este es el contenedor de cada publicación -->
            <label class="control control--checkbox" style="float:right; margin-right:10px; margin-top:10px;"><!--Este es el checkbox circular -->
              <input type="checkbox" checked="checked"/>
              <div class="control__indicator"></div>
            </label>
            <div class="coverPic"><!-- Para poner una imágen referente a la publicación -->
                <img src="../../assets/files/img/main/preferences/pv7.jpg" alt="">
            </div>
            <div class="detail"><!-- contenedor donde se incluye el detalle que acompaña a la publicación -->
                <div class="addressText">
                    <p class="title">Atletismo</p> <!-- Título de la publicavión-->
                    <p class="contentdetail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p> <!-- Publicación -->
                </div>
            </div> <!-- Fin detail -->
    </div> <!--Fin address -->
    <div class="address"><!-- Este es el contenedor de cada publicación -->
            <label class="control control--checkbox" style="float:right; margin-right:10px; margin-top:10px;"><!--Este es el checkbox circular -->
              <input type="checkbox" checked="checked"/>
              <div class="control__indicator"></div>
            </label>
            <div class="coverPic"><!-- Para poner una imágen referente a la publicación -->
                <img src="../../assets/files/img/main/preferences/pv8.jpg" alt="">
            </div>
            <div class="detail"><!-- contenedor donde se incluye el detalle que acompaña a la publicación -->
                <div class="addressText">
                    <p class="title">Senderismo</p> <!-- Título de la publicavión-->
                    <p class="contentdetail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p> <!-- Publicación -->
                </div>
            </div> <!-- Fin detail -->
    </div> <!--Fin address -->
    <div class="address"><!-- Este es el contenedor de cada publicación -->
            <label class="control control--checkbox" style="float:right; margin-right:10px; margin-top:10px;"><!--Este es el checkbox circular -->
              <input type="checkbox" checked="checked"/>
              <div class="control__indicator"></div>
            </label>
            <div class="coverPic"><!-- Para poner una imágen referente a la publicación -->
                <img src="../../assets/files/img/main/preferences/pv9.jpg" alt="">
            </div>
            <div class="detail"><!-- contenedor donde se incluye el detalle que acompaña a la publicación -->
                <div class="addressText">
                    <p class="title">Canopy</p> <!-- Título de la publicavión-->
                    <p class="contentdetail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p> <!-- Publicación -->
                </div>
            </div> <!-- Fin detail -->
    </div> <!--Fin address -->
    <div class="address"><!-- Este es el contenedor de cada publicación -->
            <label class="control control--checkbox" style="float:right; margin-right:10px; margin-top:10px;"><!--Este es el checkbox circular -->
              <input type="checkbox" checked="checked"/>
              <div class="control__indicator"></div>
            </label>
            <div class="coverPic"><!-- Para poner una imágen referente a la publicación -->
                <img src="../../assets/files/img/main/preferences/pv10.jpg" alt="">
            </div>
            <div class="detail"><!-- contenedor donde se incluye el detalle que acompaña a la publicación -->
                <div class="addressText">
                    <p class="title">Pesca</p> <!-- Título de la publicavión-->
                    <p class="contentdetail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p> <!-- Publicación -->
                </div>
            </div> <!-- Fin detail -->
    </div> <!--Fin address -->
    <div class="address"><!-- Este es el contenedor de cada publicación -->
            <label class="control control--checkbox" style="float:right; margin-right:10px; margin-top:10px;"><!--Este es el checkbox circular -->
              <input type="checkbox" checked="checked"/>
              <div class="control__indicator"></div>
            </label>
            <div class="coverPic"><!-- Para poner una imágen referente a la publicación -->
                <img src="../../assets/files/img/main/preferences/pv11.jpg" alt="">
            </div>
            <div class="detail"><!-- contenedor donde se incluye el detalle que acompaña a la publicación -->
                <div class="addressText">
                    <p class="title">Maraton</p> <!-- Título de la publicavión-->
                    <p class="contentdetail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p> <!-- Publicación -->
                </div>
            </div> <!-- Fin detail -->
    </div> <!--Fin address -->
    <div class="address"><!-- Este es el contenedor de cada publicación -->
            <label class="control control--checkbox" style="float:right; margin-right:10px; margin-top:10px;"><!--Este es el checkbox circular -->
              <input type="checkbox" checked="checked"/>
              <div class="control__indicator"></div>
            </label>
            <div class="coverPic"><!-- Para poner una imágen referente a la publicación -->
                <img src="../../assets/files/img/main/preferences/pv12.jpg" alt="">
            </div>
            <div class="detail"><!-- contenedor donde se incluye el detalle que acompaña a la publicación -->
                <div class="addressText">
                    <p class="title">Patinaje</p> <!-- Título de la publicavión-->
                    <p class="contentdetail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p> <!-- Publicación -->
                </div>
            </div> <!-- Fin detail -->
    </div> <!--Fin address -->
</div><!-- Fin contenedor general -->