<ul class="tab-container">
  <!-- ----------------      TAB-1       --------------------- -->
    <li>
      <input class="tab-toggle" id="tab-1" type="radio" name="toggle" checked />
      <label data-title="Tab 1" class="tab l-b" for="tab-1" translate>AboutTitle </label>
      <ul class="tab-content-container">
        <li class="tab-content">
          <div id="CardTab">
            <div id="Usertab">
              <picture >
                  <img src="https://media-cdn.tripadvisor.com/media/photo-s/02/b2/34/58/filename-building-exterior.jpg" >
              </picture>
              <div id="ContainerButt">
                <div id="CenterCont">
                  <a href="" id="BtnFollowPerf" translate>FollowTitle</a>
                </div>
              </div>
            </div>
            <span id="ContPubl">
              <span id="NameUserTab">Hotel Hex</span> <span id="placeCity">(Managua)</span><br>
              <span id="starsHo"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i></span><br>
              <span><span class="TitleBold">Direccion: </span> Paseo Los Muchachos, Managua</span><br>
              <hr class="separator" />
              <span><span class="TitleBold">Acerca del Negocio: </span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur recusandae impedit, a, quia eligendi quis. Fuga laboriosam quas harum, soluta porro veniam fugiat sint atque possimus debitis! Reprehenderit numquam, ad!</span>
              <hr class="separator" />
              <span><span class="TitleBold">Mision: </span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur recusandae impedit, a, quia eligendi quis. Fuga laboriosam quas harum, soluta porro veniam fugiat sint atque possimus debitis! Reprehenderit numquam, ad!</span>
              <hr class="separator" />
              <span><span class="TitleBold">Vision: </span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur recusandae impedit, a, quia eligendi quis. Fuga laboriosam quas harum, soluta porro veniam fugiat sint atque possimus debitis! Reprehenderit numquam, ad!</span>
            </span>
          </div>
          <div class="arrows">
            <label class="back" for="tab-4">&#8249;</label>
            <label class="next" for="tab-2">&#8250; </label>
          </div>
        </li>
      </ul>
    </li>
    <!-- ----------------      TAB-2       --------------------- -->
    <li>
      <input class="tab-toggle" id="tab-2" type="radio" name="toggle" />
      <label class="tab" for="tab-2" translate>ServicesTitle</label>
      <ul class="tab-content-container">
        <li class="tab-content">
          <div class="CardTab">
            <ul>
              <li><i class="material-icons">restaurant_menu</i>Desayuno incluido</li>
              <li><i class="material-icons">room_service</i> Piscina</li>
              <li><i class="material-icons">local_taxi</i> Parking Privado</li>
              <li><i class="material-icons">local_laundry_service</i> Servicio de lavandería</li>
              <li><i class="material-icons">network_wifi</i> Internet WiFi</li>
              <li><i class="material-icons">room_service</i> Servicio de habitaciones 24h</li>
              <li><i class="material-icons">smoking_rooms</i> Área de fumadores</li>
              <li><i class="material-icons">fitness_center</i> Gimnasio</li>
              <li><i class="material-icons">accessible</i> Accesibilidad</li>
              <li><i class="material-icons">credit_card</i> ATM</li>
              <li><i class="material-icons">theaters</i> Sala de medios</li>
            </ul>
          </div>
          <div class="arrows">
            <label class="back" for="tab-1">&#8249;</label>
            <label class="next" for="tab-3">&#8250; </label>
          </div>
        </li>
      </ul>
    </li>
    <!-- ----------------      TAB-3       --------------------- -->
    <li>
      <input class="tab-toggle" id="tab-3" type="radio" name="toggle" />
      <label class="tab" for="tab-3" translate>ReviewTitle</label>
      <ul class="tab-content-container">
        <li class="tab-content">
          <div class="CardTab">
            <div class="Usertab">
              <picture >
                  <img src="https://s-media-cache-ak0.pinimg.com/236x/c5/ff/18/c5ff18c45bfb08c97134ae69028c6881.jpg" >
              </picture>
              <span class="NameUserTab">Alex Flores</span><br>
              <span id="starsHo"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i></span><br>
              <span class="DatePubl">12/11/2016</span>
            </div>
            <span class="ContPubl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloribus aliquid dolor consectetur eveniet hic id, cum minima deserunt reiciendis quis qui nostrum, laboriosam libero, enim distinctio inventore, nobis unde.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloribus aliquid dolor consectetur eveniet hic id, cum minima deserunt reiciendis quis qui nostrum, laboriosam libero, enim distinctio inventore, nobis unde.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloribus aliquid dolor consectetur eveniet hic id, cum minima deserunt reiciendis quis qui nostrum, laboriosam libero, enim distinctio inventore, nobis unde.</span>
          </div>
          <hr class="separator" />
          <div class="CardTab">
            <div class="Usertab">
              <picture >
                  <img src="https://s-media-cache-ak0.pinimg.com/236x/c5/ff/18/c5ff18c45bfb08c97134ae69028c6881.jpg" >
              </picture>
              <span class="NameUserTab">Alex Flores</span><br>
              <span id="starsHo"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i></span><br>
              <span class="DatePubl">12/11/2016</span>
            </div>
            <span class="ContPubl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloribus aliquid dolor consectetur eveniet hic id, cum minima deserunt reiciendis quis qui nostrum, laboriosam libero, enim distinctio inventore, nobis unde.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloribus aliquid dolor consectetur eveniet hic id, cum minima deserunt reiciendis quis qui nostrum, laboriosam libero, enim distinctio inventore, nobis unde.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloribus aliquid dolor consectetur eveniet hic id, cum minima deserunt reiciendis quis qui nostrum, laboriosam libero, enim distinctio inventore, nobis unde.</span>
          </div>
          <hr class="separator" />
          <div class="CardTab">
            <div class="Usertab">
              <picture >
                  <img src="https://s-media-cache-ak0.pinimg.com/236x/c5/ff/18/c5ff18c45bfb08c97134ae69028c6881.jpg" >
              </picture>
              <span class="NameUserTab">Alex Flores</span><br>
              <span id="starsHo"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i></span><br>
              <span class="DatePubl">12/11/2016</span>
            </div>
            <span class="ContPubl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloribus aliquid dolor consectetur eveniet hic id, cum minima deserunt reiciendis quis qui nostrum, laboriosam libero, enim distinctio inventore, nobis unde.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloribus aliquid dolor consectetur eveniet hic id, cum minima deserunt reiciendis quis qui nostrum, laboriosam libero, enim distinctio inventore, nobis unde.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloribus aliquid dolor consectetur eveniet hic id, cum minima deserunt reiciendis quis qui nostrum, laboriosam libero, enim distinctio inventore, nobis unde.</span>
          </div>
          <div class="arrows">
            <label class="back" for="tab-2">&#8249;</label>
            <label class="next" for="tab-4">&#8250; </label>
          </div>
        </li>
      </ul>
    </li>
    <!-- ----------------      TAB-4       --------------------- -->
    <li>
      <input class="tab-toggle" id="tab-4" type="radio" name="toggle" />
      <label class="tab" for="tab-4" translate>ActivitiesTitle</label>
      <ul class="tab-content-container">
        <li class="tab-content">
          <div class="CardTab">
              <div class="Usertab">
                <picture >
                    <img class="activ"src="http://autosflyer.weebly.com/uploads/6/0/8/7/60873323/7754977_orig.jpg" >
                </picture>
                <span class="NameUserTab">Feria de autos</span><br><br>
                <span class="DatePubl2">12/11/2016</span>
                <div id="ContainerButt">
                  <div id="CenterCont">
                    <a href="" id="BtnFollowPerf"><i class="material-icons">event_note</i> {{ 'AddTitle' | translate }} </a>
                  </div>
                </div>
              </div>
              <span class="ContPubl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloribus aliquid dolor consectetur eveniet hic id, cum minima deserunt reiciendis quis qui nostrum, laboriosam libero, enim distinctio inventore, nobis unde.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloribus aliquid dolor consectetur eveniet hic id, cum minima deserunt reiciendis quis qui nostrum.</span>
            </div>
            <hr class="separator" />
            <div class="CardTab">
              <div class="Usertab">
                <picture >
                  <img class="activ"src="http://autosflyer.weebly.com/uploads/6/0/8/7/60873323/7754977_orig.jpg" >
                </picture>
                <span class="NameUserTab">Feria de autos</span><br><br>
                <span class="DatePubl2">12/11/2016</span>
                <div id="ContainerButt">
                  <div id="CenterCont">
                    <a href="" id="BtnFollowPerf"><i class="material-icons">event_note</i> {{ 'AddTitle' | translate }} </a>
                  </div>
                </div>
              </div>
              <span class="ContPubl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloribus aliquid dolor consectetur eveniet hic id, cum minima deserunt reiciendis quis qui nostrum, laboriosam libero, enim distinctio inventore, nobis unde.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloribus aliquid dolor consectetur eveniet hic id, cum minima deserunt reiciendis quis qui nostrum.</span>
            </div>
            <hr class="separator" />
            <div class="CardTab">
              <div class="Usertab">
                <picture >
                  <img class="activ"src="http://autosflyer.weebly.com/uploads/6/0/8/7/60873323/7754977_orig.jpg" >
                </picture>
                <span class="NameUserTab">Feria de autos</span><br><br>
                <span class="DatePubl2">12/11/2016</span>
                <div id="ContainerButt">
                  <div id="CenterCont">
                    <a href="" id="BtnFollowPerf"><i class="material-icons">event_note</i> {{ 'AddTitle' | translate }} </a>
                  </div>
                </div>
              </div>
              <span class="ContPubl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloribus aliquid dolor consectetur eveniet hic id, cum minima deserunt reiciendis quis qui nostrum, laboriosam libero, enim distinctio inventore, nobis unde.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloribus aliquid dolor consectetur eveniet hic id, cum minima deserunt reiciendis quis qui nostrum.</span>
            </div>
          <div class="arrows">
            <label class="back" for="tab-3">&#8249;</label>
            <label class="next" for="tab-5">&#8250; </label>
          </div>
        </li>
      </ul>
    </li>
    <!-- ----------------      TAB-5       --------------------- -->
    <li>
      <input class="tab-toggle" id="tab-5" type="radio" name="toggle" />
      <label class="tab" for="tab-5" translate>ContactTitle</label>
      <ul class="tab-content-container">
        <li class="tab-content">
          <div id="FormContact">
              <form >
                <!-- <h2>Contactanos</h2> -->
                <!-- ?<input type="text" placeholder="Ingrese su nombre" class="InputContact" required>
                <input type="email" placeholder="Ingrese su email" class="InputContact" required> -->
              <textarea  placeholder="Ingrese su consulta aqui" class="AreaContact" required></textarea>
              <input type="submit" value="{{ 'SendTitle' | translate }}" id="BtnSendForm">
            </form>
          </div>
          <div class="arrows">
            <label class="back" for="tab-4">&#8249;</label>
            <label class="next" for="tab-1">&#8250; </label>
          </div>
        </li>
      </ul>
    </li>    
  </ul>
