

<!-- TILES DE OTROS SITIOS, ESTOS SON LOS MOSTRADOS BAJO EL SLIDER-->
<!-- ---------------------------------------- TILE DE EVENTOS -------------------------------------------- -->
  <div class="TileSite1">
    <div class="TileSitesContenido">
      <i class="material-icons  materialOut">insert_invitation</i>
      <div class="slider">
        
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
         
          
        </div>
      </div>
    </div>

        <span class="SpanTitle" Translate>Eventos</span>
        <div class="BarraDifuminadaTileSite"></div>      
      </div>     
    </div>
  </div>


  <div class="TileSite1">
    <div class="TileSitesContenido">
      <i class="material-icons  materialOut">insert_invitation</i>
      <div class="slider">
        
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          
        </div>
      </div>
    </div>

        <span class="SpanTitle" Translate>Abitaciones</span>
        <div class="BarraDifuminadaTileSite"></div>      
      </div>     
    </div>
  </div>

    <div class="TileSite1">
    <div class="TileSitesContenido">
      <i class="material-icons  materialOut">insert_invitation</i>
      <div class="slider">
        
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
         
        </div>
      </div>
    </div>

        <span class="SpanTitle" Translate>Bufet</span>
        <div class="BarraDifuminadaTileSite"></div>      
      </div>     
    </div>
  </div>

    <div class="TileSite1">
    <div class="TileSitesContenido">
      <i class="material-icons  materialOut">insert_invitation</i>
      <div class="slider">
        
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
         
        </div>
      </div>
    </div>

        <span class="SpanTitle" Translate>Area de recreacion</span>
        <div class="BarraDifuminadaTileSite"></div>      
      </div>     
    </div>
  </div>

    <div class="TileSite1">
    <div class="TileSitesContenido">
      <i class="material-icons  materialOut">insert_invitation</i>
      <div class="slider">
        
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          
        </div>
      </div>
    </div>

        <span class="SpanTitle" Translate>EventsTitle</span>
        <div class="BarraDifuminadaTileSite"></div>      
      </div>     
    </div>
  </div>

      <div class="TileSite1">
    <div class="TileSitesContenido">
      <i class="material-icons  materialOut">insert_invitation</i>
      <div class="slider">
        
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          
        </div>
      </div>
    </div>

        <span class="SpanTitle" Translate>EventsTitle</span>
        <div class="BarraDifuminadaTileSite"></div>      
      </div>     
    </div>
  </div>

      <div class="TileSite1">
    <div class="TileSitesContenido">
      <i class="material-icons  materialOut">insert_invitation</i>
      <div class="slider">
        
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          
        </div>
      </div>
    </div>

        <span class="SpanTitle" Translate>EventsTitle</span>
        <div class="BarraDifuminadaTileSite"></div>      
      </div>     
    </div>
  </div>

    <div class="TileSite1">
    <div class="TileSitesContenido">
      <i class="material-icons  materialOut">insert_invitation</i>
      <div class="slider">
        
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
         
        </div>
      </div>
    </div>

        <span class="SpanTitle" Translate>EventsTitle</span>
        <div class="BarraDifuminadaTileSite"></div>      
      </div>     
    </div>
  </div>



  