<link rel="stylesheet" href="../../../assets/css/institutions/view/FloatTilesSlider.css">
<link rel="stylesheet" href="../../../assets/css/institutions/view/Tabs.css">
<link rel="stylesheet" href="../../../assets/css/institutions/view/TileSites.css">


<div>
    <div ng-include src="'modules/templates/menu.html'"> </div>

    <div ng-include src="'modules/institutions/view/sliderPrincipal.html'"> </div>
    <div class="ContainerFloatTiles" ng-include src="'modules/institutions/view/float.tiles.view.html'"> </div>

    <div class="ContainerDual">
        <div class="ContanerDual1">
            <div ng-include src="'modules/institutions/view/institutions.tabs.view.html'"> </div>
        </div>
        <div class="ContanerDual2">
            <div ng-include src="'modules/institutions/view/institutions.tiles.view.html'"> </div>
        </div>
    </div>

</div>