<!-- TILES DE OTROS SITIOS, ESTOS SON LOS MOSTRADOS BAJO EL SLIDER-->
<!-- ---------------------------------------- TILE DE EVENTOS -------------------------------------------- -->
<div class="TileSite1">
  <a ui-sref="#">
    <div class="TileSitesContenido">
        <i class="material-icons  materialOut">insert_invitation</i>
        <div class="slider">
            <div uib-carousel active="active1" interval="myInterval1" no-wrap="noWrapSlides1">
                <div uib-slide ng-repeat="slide1 in slides1 track by slide1.id" index="slide1.id">
                   <a ui-sref="working"><img ng-src="{{slide1.image || '//:0'}}" style="margin:auto;"></a>
                    <div id="Tile-title" class="carousel-caption">
                        <h4> {{ slide1.name }} </h4>
                    </div>
                    <div class="BlurredTileBar"></div>
                </div>
            </div>
            <span class="SpanTitle" translate>EventsTitle</span>
        </div>
    </div>
  </a>
</div>
<!-- ---------------------------------------- TILE DONDE IR -------------------------------------------- -->
<div class="TileSite2">
  <a ui-sref="#">
    <div class="TileSitesContenido">
        <i class="material-icons materialOut">place</i>
        <div class="slider">
            <div uib-carousel active="active2" interval="myInterval2" no-wrap="noWrapSlides2">
                <div uib-slide ng-repeat="slide2 in slides2 track by slide2.id" index="slide2.id">
                   <a ui-sref="working"><img ng-src="{{slide2.image || '//:0'}}" style="margin:auto;"></a>
                    <div id="Tile-title-large" class="carousel-caption">
                        <h4> {{ slide2.name }} </h4>
                    </div>
                    <div class="BlurredTileBar"></div>
                </div>
            </div>
            <span class="SpanTitle" translate>WhereToGoTitle</span>
            <div class="NotificacionTileSite">1</div>
        </div>
    </div>
  </a>
</div>
<!-- ---------------------------------------- TILE GALERIA -------------------------------------------- -->
<div class="TileSite3">
  <a ui-sref="#">
    <div class="TileSitesContenido">
        <i class="material-icons materialOut">panorama</i>
        <div class="slider">
            <div uib-carousel active="active3" interval="myInterval3" no-wrap="noWrapSlides3">
                <div uib-slide ng-repeat="slide3 in slides3 track by slide3.id" index="slide3.id">
                    <a ui-sref="working"><img ng-src="{{slide3.image || '//:0'}}" style="margin:auto;"></a>
                    <div id="Tile-title" class="carousel-caption">
                        <h4> {{ slide3.name }} </h4>
                    </div>
                    <div class="BlurredTileBar"></div>
                </div>
            </div>
            <span class="SpanTitle" translate>GalleryTitle</span>
        </div>
    </div>
  </a>
</div>
<!-- ----------------------------------- TILE CONTENEDOR DE MINI TILES ----------------------------------------- -->
<div class="TileSite4">
    <div class="TileSitesContenido">
        <div class="MiniTilesSite">
          <a ui-sref="Housing">
            <div class="TileSitesContenidoMini">
                <i class="material-icons materialOut">local_hotel</i>
                <div class="slider">
                    <div uib-carousel active="active4" interval="myInterval4" no-wrap="noWrapSlides4">
                        <div uib-slide ng-repeat="slide4 in slides4 track by slide4.id" index="slide4.id">
                            <a ui-sref="Housing"><img ng-src="{{slide4.image || '//:0'}}" style="margin:auto;"></a>
                            <div class="carousel-caption">
                                <h4></h4>
                            </div>
                        </div>
                    </div>
                    <span class="SpanTitle" translate>HousingTitle</span>
                    <div class="BlurredTileBar"></div>
                </div>
            </div>
          </a>
        </div>
        <!-- ------------------------------------------------------------------------------------------------------------ -->

        <div class="MiniTilesSite">
          <a ui-sref="#">
            <div class="TileSitesContenidoMini">
                <i class="material-icons materialOut">store_mall_directory</i>
                <div class="slider">
                    <div uib-carousel active="active5" interval="myInterval5" no-wrap="noWrapSlides5">
                        <div uib-slide ng-repeat="slide5 in slides5 track by slide5.id" index="slide5.id">
                            <a ui-sref="working"><img ng-src="{{slide5.image || '//:0'}}" style="margin:auto;"> </a>
                            <div class="carousel-caption">
                            </div>
                        </div>
                    </div>
                    <span class="SpanTitle" translate>StoreTitle</span>
                    <div class="BlurredTileBar"></div>
                </div>
            </div>
          </a>
        </div>
        <!-- ------------------------------------------------------------------------------------------------------------ -->
        <div class="MiniTilesSite">
            <div class="TileSitesContenidoMini">
              <i class="material-icons materialOut">casino</i>
                <div class="slider">
                    <div uib-carousel active="active6" interval="myInterval6" no-wrap="noWrapSlides6">
                        <div uib-slide ng-repeat="slide6 in slides6 track by slide6.id" index="slide6.id">
                            <a ui-sref="working"><img ng-src="{{slide6.image || '//:0'}}" style="margin:auto;"></a>
                            <div class="carousel-caption">
                                <h4></h4>
                            </div>
                        </div>
                    </div>
                    <span class="SpanTitle" translate>EntertainmentTitle</span>
                    <div class="BlurredTileBar"></div>
                </div>
            </div>
        </div>
        <!-- ------------------------------------------------------------------------------------------------------------ -->
        <div class="MiniTilesSite">
          <a ui-sref="#">
            <div class="TileSitesContenidoMini">
              <i class="material-icons materialOut">restaurant</i>
                <div class="slider">
                    <div uib-carousel active="active7" interval="myInterval7" no-wrap="noWrapSlides7">
                        <div uib-slide ng-repeat="slide7 in slides7 track by slide7.id" index="slide7.id">
                            <a ui-sref="working"><img ng-src="{{slide7.image || '//:0'}}" style="margin:auto;"></a>
                            <div class="carousel-caption">
                                <h4></h4>
                            </div>
                        </div>
                    </div>
                    <span class="SpanTitle" translate>FadTitle</span>
                    <div class="BlurredTileBar"></div>
                </div>
            </div>
          </a>
        </div>
        <!-- ------------------------------------------------------------------------------------------------------------ -->
    </div>
</div>

<!-- ---------------------------------------- TILE DE PROMOCIONES -------------------------------------------- -->
<div class="TileSite5">
  <a ui-sref="#">
    <div class="TileSitesContenido">
        <i class="material-icons  materialOut">card_giftcard</i>
        <div class="slider">
            <div uib-carousel active="active8" interval="myInterval8" no-wrap="noWrapSlides8">
                <div uib-slide ng-repeat="slide8 in slides8 track by slide8.id" index="slide8.id">
                    <a ui-sref="working"><img ng-src="{{slide8.image || '//:0'}}" style="margin:auto;"></a>
                    <div id="Tile-title-large" class="carousel-caption">
                        <h4> {{ slide8.name }} </h4>
                    </div>
                    <div class="BlurredTileBar"></div>
                </div>
            </div>
            <span class="SpanTitle" translate>PromotionsTitle</span>
            <div class="NotificacionTileSite">1</div>
        </div>
    </div>
  </a>
</div>
<!-- ---------------------------------------- TILE DE LUGARES -------------------------------------------- -->
<div class="TileSite6">
  <a ui-sref="#">
    <div class="TileSitesContenido">
        <i class="material-icons materialOut">explore</i>
        <div class="slider">
            <div uib-carousel active="active1" interval="myInterval1" no-wrap="noWrapSlides1">
                <div uib-slide ng-repeat="slide1 in slides1 track by slide1.id" index="slide1.id">
                    <a ui-sref="Place"><img ng-src="{{slide1.image || '//:0'}}" style="margin:auto;"></a>
                    <div id="Tile-title" class="carousel-caption">
                        <h4> {{ slide1.name }} </h4>
                    </div>
                    <div class="BlurredTileBar"></div>
                </div>
            </div>
            <span class="SpanTitle" translate>PlaceTitle</span>
        </div>
    </div>
  </a>
</div>
<!-- ------------------------------------------------------------------------------------------------------------ -->
