
<div>
  
  <h2 class="TitleCont1" translate>HotelsTitle</h2> <!-- Categoria o clasificacion -->
  <!-- Contenedor de los Tiles de esas categorias -->
  <div class="TilesSections">
    <!-- Tiles -->
    <tile-general ng-repeat="business in vm.hotels" info="business"></tile-general>
  </div> <!-- FIN DEL CONTAINER -->
  <hr class="separator" >
</div>
<!---------------------------------------------------------------------------------------------->
<div>
  <h2 class="TitleCont1" translate>MotelsTitle</h2> <!-- Categoria o clasificacion -->
  <div class="TilesSections">   <!-- Contenedor de los Tiles de esas categorias -->
    <!-- Tiles -->
    <tile-general ng-repeat="business in vm.motels" info="business"></tile-general>
  </div> <!-- FIN DEL CONTAINER -->
  <hr class="separator" >
</div>
<!---------------------------------------------------------------------------------------------->
<div>
  <h2 class="TitleCont1" translate>HostelsTitle</h2> <!-- Categoria o clasificacion -->
  <!-- Contenedor de los Tiles de esas categorias -->
  <div class="TilesSections">
    <!-- Tiles -->
    <tile-general ng-repeat="business in vm.hostels" info="business"></tile-general>
  </div><!-- FIN DEL CONTAINER -->
  <hr class="separator" >
</div>
<!---------------------------------------------------------------------------------------------->
<div>
  <h2 class="TitleCont1" translate>OthersTitle</h2> <!-- Categoria o clasificacion -->
  <!-- Contenedor de los Tiles de esas categorias -->
  <div class="TilesSections">
    <!-- Tiles -->
    <tile-general ng-repeat="business in vm.others" info="business"></tile-general>
  </div> <!-- FIN DEL CONTAINER -->
  <hr class="separator" >
</div>
<!---------------------------------------------------------------------------------------------->
