<div class="cBody"> <!-- Este es el contenedor principal-->
    <div class="contain"><!--Este es el contenedor en el que se hacen las publicaciones -->
        <div class="gnumber"><!-- Inicia general number --> 
			<h1> {{ vm.title }} </h1>  
			 <ul class="slide-list">
				<li ng-repeat="s in vm.photos track by $index" ng-click="vm.showGallery($index)">
					<img ng-src="{{ s.src }}" alt="slide number {{ $index }}" />
				</li>
			</ul>
			<div ng-photoswipe slides="vm.photos" open="vm.open" slide-selector=".slide-list > li > img"
				on-close="vm.closeGallery()" options="vm.opts"></div>
			</div><!-- Fin general number -->

        <div class="mnumber"><!-- Inicia main number -->
 
        </div><!-- Fin main number -->
    </div> <!-- Fin container -->

</div> <!-- Fin cBody -->
