<!-- TILES POCICIONADOS SOBRE EL SLIDER-->
  <ul>
    <li id="DobleTile">
      <div class="LiContainer">
      </div>
     <div id="HaveThis">
       <ul>

       </ul>
     </div>
    </li>

    <a ui-sref="working"><li class="scale">
      <div class="LiContainer">
        <i class="material-icons">print</i>
        </div>

      <div class="TitleDiv"Translate>BookTitle </div>
    </li></a>

    <a ui-sref="working"><li class="scale">

      <div class="LiContainer">
        <i class="material-icons">collections</i>
      </div>
      <div class="TitleDiv"Translate>GalleryTitle</div>
    </li></a>

    <a ui-sref="working"><li class="scale">
      <div class="LiContainer">
        <i class="material-icons">near_me</i>
<!--         <input type="radio" id="mostrar-modal" name="modal"/>
  <label for="mostrar-modal"><i class="material-icons">near_me</i></label>
  <input type="radio" id="cerrar-modal" name="modal"/>
  <label for="cerrar-modal">X</label>
  <div id="modal">
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nihil id commodi ipsa vitae dolore molestiae minus enim. Nulla ut recusandae nemo quam autem minus totam impedit, quod accusamus optio?</p>
  </div> -->
        
      </div>

      <div class="TitleDiv"Translate>HowToGoingTitle</div>      
    </li></a>

    <a ui-sref="VirtualTour"><li class="scale">
      <div class="LiContainer">
        <i class="material-icons">search</i>
      </div>

       <div class="TitleDiv"Translate>VirtualTourTitle</div> 
    </li></a>
</ul>