<div id="BackColor">
    <div class="page-wrap">
        <ul class="tab-wrap">

            <li>
                <input type="radio" id="tab-1" name="tab" checked />
                <label for="tab-1" class="label-1" translate>
        AboutTitle
      </label>
                <article class="tab-content">
                    <div id="CardTab">
                        <div id="Usertab">
                        <picture >
                            <img src="https://media-cdn.tripadvisor.com/media/photo-s/02/b2/34/58/filename-building-exterior.jpg" >
                        </picture>

                        <div id="ContainerButt">
                                <div id="CenterCont">
                                    <a href="" id="BtnFollowPerf">Follow</a>
                                </div>
                        </div>

                        </div>

                       <span id="ContPubl">
                            <span id="NameUserTab">Hotel Hex</span> <span id="placeCity">(Managua)</span><br>
                            <span id="starsHo"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i></span><br>
                            <span><span class="TitleBold">Direccion:</span> Paseo Los Muchachos, Managua</span><br><br>

                            <span><span class="TitleBold">Descripcion:</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur recusandae impedit, a, quia eligendi quis. Fuga laboriosam quas harum, soluta porro veniam fugiat sint atque possimus debitis! Reprehenderit numquam, ad!</span><br><br>

                            <span><span class="TitleBold">Mision:</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur recusandae impedit, a, quia eligendi quis. Fuga laboriosam quas harum, soluta porro veniam fugiat sint atque possimus debitis! Reprehenderit numquam, ad!</span><br><br>

                            <span><span class="TitleBold">Vision:</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur recusandae impedit, a, quia eligendi quis. Fuga laboriosam quas harum, soluta porro veniam fugiat sint atque possimus debitis! Reprehenderit numquam, ad!</span><br><br>

                        </span>

                        
                    </div>
             


                </article>
            </li>

           <!--  _______________________________________________________________________ -->

            <li>
                <input type="radio" id="tab-2" name="tab" />
                <label for="tab-2" class="label-2" translate>
        ServicesTitle
      </label>
                <article class="tab-content">
                    <div class="CardTab">

                        <ul>
                            <li><i class="material-icons">restaurant_menu</i>Desayuno incluido</li>
                            <li><i class="material-icons">room_service</i> Piscina</li>
                            <li><i class="material-icons">local_taxi</i> Parking Privado</li>
                            <li><i class="material-icons">local_laundry_service</i> Servicio de lavandería</li>
                          <!--  <li><i class="material-icons">network_wifi</i> Internet WiFi</li> -->
                            <li><i class="material-icons">room_service</i> Servicio de habitaciones 24h</li>
                            <li><i class="material-icons">smoking_rooms</i> Área de fumadores</li>
                            <li><i class="material-icons">fitness_center</i> Gimnasio</li>
                            <li><i class="material-icons">accessible</i> Accesibilidad</li>
                            <li><i class="material-icons">credit_card</i> ATM</li>
                            <li><i class="material-icons">theaters</i> Sala de medios</li>
                        </ul>
                    </div>

                    
                </article>
            </li>

        
        <!--  _______________________________________________________________________ -->


            <li>
                <input type="radio" id="tab-3" name="tab" />
                <label for="tab-3" class="label-3" translate>
        ReviewTitle
      </label>
                <article class="tab-content">
                    <div class="CardTab">
                        <div class="Usertab">
                        <picture >
                            <img src="https://s-media-cache-ak0.pinimg.com/236x/c5/ff/18/c5ff18c45bfb08c97134ae69028c6881.jpg" >
                        </picture>
                        <span class="NameUserTab">Alex Flores</span><br>
                        <span id="starsHo"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i></span><br>
                        <span class="DatePubl">12/11/2016</span>
                        </div>
                        <span class="ContPubl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloribus aliquid dolor consectetur eveniet hic id, cum minima deserunt reiciendis quis qui nostrum, laboriosam libero, enim distinctio inventore, nobis unde.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloribus aliquid dolor consectetur eveniet hic id, cum minima deserunt reiciendis quis qui nostrum, laboriosam libero, enim distinctio inventore, nobis unde.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloribus aliquid dolor consectetur eveniet hic id, cum minima deserunt reiciendis quis qui nostrum, laboriosam libero, enim distinctio inventore, nobis unde.</span>
                    </div>

                     <div class="CardTab">
                        <div class="Usertab">
                        <picture >
                            <img src="https://s-media-cache-ak0.pinimg.com/236x/c5/ff/18/c5ff18c45bfb08c97134ae69028c6881.jpg" >
                        </picture>
                        <span class="NameUserTab">Alex Flores</span><br>
                        <span id="starsHo"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i></span><br>
                        <span class="DatePubl">12/11/2016</span>
                        </div>
                        <span class="ContPubl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloribus aliquid dolor consectetur eveniet hic id, cum minima deserunt reiciendis quis qui nostrum, laboriosam libero, enim distinctio inventore, nobis unde.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloribus aliquid dolor consectetur eveniet hic id, cum minima deserunt reiciendis quis qui nostrum, laboriosam libero, enim distinctio inventore, nobis unde.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloribus aliquid dolor consectetur eveniet hic id, cum minima deserunt reiciendis quis qui nostrum, laboriosam libero, enim distinctio inventore, nobis unde.</span>
                    </div>

                     <div class="CardTab">
                        <div class="Usertab">
                        <picture >
                            <img src="https://s-media-cache-ak0.pinimg.com/236x/c5/ff/18/c5ff18c45bfb08c97134ae69028c6881.jpg" >
                        </picture>
                        <span class="NameUserTab">Alex Flores</span><br>
                        <span id="starsHo"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i></span><br>
                        <span class="DatePubl">12/11/2016</span>
                        </div>
                        <span class="ContPubl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloribus aliquid dolor consectetur eveniet hic id, cum minima deserunt reiciendis quis qui nostrum, laboriosam libero, enim distinctio inventore, nobis unde.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloribus aliquid dolor consectetur eveniet hic id, cum minima deserunt reiciendis quis qui nostrum, laboriosam libero, enim distinctio inventore, nobis unde.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloribus aliquid dolor consectetur eveniet hic id, cum minima deserunt reiciendis quis qui nostrum, laboriosam libero, enim distinctio inventore, nobis unde.</span>
                    </div>
                </article>
            </li>


        <!--  _______________________________________________________________________ -->


            <li>
                <input type="radio" id="tab-4" name="tab" />
                <label for="tab-4" class="label-4" translate>
        ActivitiesTitle
      </label>
                <article class="tab-content">
                        <div class="CardTab">
                        <div class="Usertab">
                        <picture >
                            <img class="activ"src="http://autosflyer.weebly.com/uploads/6/0/8/7/60873323/7754977_orig.jpg" >
                        </picture>
                        <span class="NameUserTab">Feria de autos</span><br><br>
                        <span class="DatePubl2">12/11/2016</span>

                          <div id="ContainerButt">
                                <div id="CenterCont">
                                    <a href="" id="BtnFollowPerf"><i class="material-icons">event_note</i> Agregar</a>
                                </div>
                        </div>
                        </div>
                        <span class="ContPubl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloribus aliquid dolor consectetur eveniet hic id, cum minima deserunt reiciendis quis qui nostrum, laboriosam libero, enim distinctio inventore, nobis unde.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloribus aliquid dolor consectetur eveniet hic id, cum minima deserunt reiciendis quis qui nostrum.</span>
                    </div>


                     <div class="CardTab">
                        <div class="Usertab">
                        <picture >
                            <img class="activ"src="http://autosflyer.weebly.com/uploads/6/0/8/7/60873323/7754977_orig.jpg" >
                        </picture>
                        <span class="NameUserTab">Feria de autos</span><br><br>
                        <span class="DatePubl2">12/11/2016</span>

                          <div id="ContainerButt">
                                <div id="CenterCont">
                                    <a href="" id="BtnFollowPerf"><i class="material-icons">event_note</i> Agregar</a>
                                </div>
                        </div>
                        </div>
                        <span class="ContPubl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloribus aliquid dolor consectetur eveniet hic id, cum minima deserunt reiciendis quis qui nostrum, laboriosam libero, enim distinctio inventore, nobis unde.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloribus aliquid dolor consectetur eveniet hic id, cum minima deserunt reiciendis quis qui nostrum.</span>
                    </div>

                     <div class="CardTab">
                        <div class="Usertab">
                        <picture >
                            <img class="activ"src="http://autosflyer.weebly.com/uploads/6/0/8/7/60873323/7754977_orig.jpg" >
                        </picture>
                        <span class="NameUserTab">Feria de autos</span><br><br>
                        <span class="DatePubl2">12/11/2016</span>

                          <div id="ContainerButt">
                                <div id="CenterCont">
                                    <a href="" id="BtnFollowPerf"><i class="material-icons">event_note</i> Agregar</a>
                                </div>
                        </div>
                        </div>
                        <span class="ContPubl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloribus aliquid dolor consectetur eveniet hic id, cum minima deserunt reiciendis quis qui nostrum, laboriosam libero, enim distinctio inventore, nobis unde.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloribus aliquid dolor consectetur eveniet hic id, cum minima deserunt reiciendis quis qui nostrum.</span>
                    </div>
                </article>
            </li>

<!--  _______________________________________________________________________ -->


            <li>
                <input type="radio" id="tab-5" name="tab" />
                <label for="tab-5" class="label-5" translate>
        ContactTitle
      </label>
                <article class="tab-content">
                    <div id="FormContact">
                         <form >
                             <!-- <h2>Contactanos</h2> -->
                             <!-- ?<input type="text" placeholder="Ingrese su nombre" class="InputContact" required>
                             <input type="email" placeholder="Ingrese su email" class="InputContact" required> -->
                            <textarea  placeholder="Ingrese su consulta aqui" class="AreaContact" required></textarea>
                            <input type="submit" value="SEND" id="BtnSendForm">
                         </form>
                    </div>

                </article>
            </li>

            <!--  _______________________________________________________________________ -->


            <li>
                <input type="radio" id="tab-6" name="tab" />
                <label for="tab-6" class="label-6" translate>
        VALORAR
      </label>
                <article class="tab-content">
                    <div id="FormContact">
                         <form >
                             <!-- <h2>Contactanos</h2> -->
                             <!-- ?
                             <input type="email" placeholder="Ingrese su email" class="InputContact" required> -->
                             <input type="number" min="1" max="5" placeholder="Ingrese su puntuacion del 1 al 5" class="InputContact" required>
                            <textarea  placeholder="Ingrese su comentario aquí" class="AreaContact" required></textarea>
                            <input type="submit" value="SEND" id="BtnSendForm">
                         </form>
                    </div>

                </article>
            </li>
        </ul>
    </div>
</div>