<link rel="stylesheet" href="../../../assets/css/housing/view/FloatTilesSlider.css">
<link rel="stylesheet" href="../../../assets/css/housing/view/Tabs.css">
<link rel="stylesheet" href="../../../assets/css/housing/TileSites.css">


<div>
    <div ng-include src="'modules/templates/menu.html'"> </div>

    <div ng-include src="'modules/store/view/sliderPrincipal.html'"> </div>
    <div class="ContainerFloatTiles" ng-include src="'modules/store/View/float.tiles.view.html'"> </div>

    <div class="ContainerDual">
       <!-- <div class="ContanerDual1">
            <div ng-include src="'modules/store/View/View.tabs.view.html'"> </div>
        </div>  --> 
        <div ng-include src="'modules/store/View/View.tiles.view.html'"> </div>

    </div>

</div>