/*---- Inica estilo de tarjeta de precios ----*/

@import url(https://fonts.googleapis.com/css?family=Lato:700);
body {
	font-family: 'lato', sans-serif;
	-webkit-font-smoothing: antialiased;
	background: linear-gradient(35deg, #84fab0, #8fd3f4);
	padding: 0;
	margin: 0;
	height: 100vh;
}

.wrapper-card {
	display: flex;
	flex-wrap: nowrap;
	margin: 40px auto;
	width: 77%;
}

.card {
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 1px transparent;
	flex: 1;
	margin: 8px;
	padding: 30px;
	position: relative;
	text-align: center;
	transition: all 0.5s ease-in-out;
}

.card.popular {
	margin-top: -10px;
	margin-bottom: -10px;
}

.card.popular .card-title h3 {
	color: #3498db;
	font-size: 22px;
}

.card.popular .card-price {
	margin: 50px;
}

.card.popular .card-price h1 {
	color: #3498db;
	font-size: 60px;
}

.card.popular .card-action button {
	background-color: #3498db;
	border-radius: 80px;
	color: #fff;
	font-size: 17px;
	margin-top: -15px;
	padding: 15px;
	height: 80px;
}

.card.popular .card-action button:hover {
	background-color: #2386c8;
	font-size: 23px;
}

.card:hover {
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card-ribbon {
	position: absolute;
	overflow: hidden;
	top: -10px;
	left: -10px;
	width: 114px;
	height: 112px;
}

.card-ribbon span {
	position: absolute;
	display: block;
	width: 160px;
	padding: 10px 0;
	background-color: #3498db;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	text-align: center;
	left: -35px;
	top: 25px;
	transform: rotate(-45deg);
}

.card-ribbon::before,
.card-ribbon::after {
	position: absolute;
	z-index: -1;
	content: '';
	display: block;
	border: 5px solid #2980b9;
	border-top-color: transparent;
	border-left-color: transparent;
}

.card-ribbon::before {
	top: 0;
	right: 0;
}

.card-ribbon::after {
	bottom: 0;
	left: 0;
}

.card-title h3 {
	color: rgba(0, 0, 0, 0.3);
	font-size: 15px;
	text-transform: uppercase;
}

.card-title h4 {
	color: rgba(0, 0, 0, 0.6);
}

.card-price {
	margin: 60px 0;
}

.card-price h1 {
	font-size: 46px;
	color: #f9814d;
}

.card-price h1 sup {
	font-size: 15px;
	display: inline-block;
	margin-left: -20px;
	width: 10px;
}

.card-price h1 small {
	color: rgba(0, 0, 0, 0.3);
	display: block;
	font-size: 11px;
	text-transform: uppercase;
}

.card-description ul {
	display: block;
	list-style: none;
	margin: 60px 0;
	padding: 0;
}

.card-description li {
	color: rgba(0, 0, 0, 0.6);
	font-size: 15px;
	margin: 0 0 15px;
}

.card-description li::before {
	font-family: FontAwesome;
	content: "\f00c";
	padding: 0 5px 0 0;
	color: rgba(0, 0, 0, 0.15);
}

.card-action button {
	background: transparent;
	border: 2px solid #3498db;
	border-radius: 30px;
	color: #3498db;
	cursor: pointer;
	display: block;
	font-size: 15px;
	font-weight: bold;
	padding: 20px;
	width: 100%;
	height: 60px;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;
}

.card-action button:hover {
	background-color: #3498db;
	box-shadow: 0 2px 4px #196090;
	color: #fff;
	font-size: 17px;
}


/*---- Fin estilos tarjeta de precio ----*/


/*--Estilo aplicados a Housing.view y a Store view--*/

.service-section {
	padding-top: 100px;
}

.services {
	margin-bottom: 50px;
}

.services-content {
	padding: 30px 30px 20px;
	margin-top: 30px;
	background: #ffffff;
	text-align: left !important;
	display: table-cell;
	border-radius: 0;
	border: 1px solid #f9814d;
	color: black;
}

.services-content h5 {
	font-weight: bold;
}

.services .icon {
	color: #ffffff;
	font-size: 28px;
	padding-top: 30px;
	float: left;
	background: #f9814d;
	border-radius: 50%;
	height: 90px;
	width: 90px;
	font-weight: 600;
	margin-bottom: 46px;
	display: table-cell;
	/* border: #82c434 solid 1px; */
	margin-right: -11px;
}


/*--Fin estilo aplicados a Housing.view--*/


/*--Estilo aplicados a FAD.view--*/

.person {
	max-width: 300px;
	text-align: center;
}

.person img {
	width: 220px;
	height: 220px;
	margin: auto;
	background-color: white;
}

.person-content {
	margin-top: 20px;
}

.person h4 {
	font-weight: 400;
}

.person h5 {
	color: #fc8d5d;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 20px;
	text-align: center;
}

.social-icons,
.footer .footer-share {
	margin-top: 20px;
}

.social-icons li,
.footer .footer-share li {
	display: inline-block;
	float: none;
}

.social-icons a,
.footer .footer-share a {
	border: 1px solid #cecece;
	color: #8a8a8a;
	display: block;
	font-size: 14px;
	height: 32px;
	line-height: 32px;
	margin-right: 5px;
	text-align: center;
	width: 32px;
}

.social-icons a:hover {
	background-color: #fc8d5d;
	border-color: #fc8d5d;
	color: #fff;
}


/*--Fin estilo aplicados a FAD.view--*/


/*-- Estilos aplicados a Entertainment view --*/

.work img {
	width: 240px;
	height: 240px;
	padding-top: 15px;
}

.work h5,
.work p,
.work img {
	-moz-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	-webkit-transition: all, 0.5s;
	transition: all, 0.5s;
}

.work h5,
.work p {
	color: #fff;
	margin: 0;
	opacity: 0;
}

.work span {
	font-size: 45px;
}

.work h5 {
	margin-bottom: 5px;
	-moz-transform: translate3d(0, -200%, 0);
	-ms-transform: translate3d(0, -200%, 0);
	-webkit-transform: translate3d(0, -200%, 0);
	transform: translate3d(0, -200%, 0);
}

.work p {
	-moz-transform: translate3d(0, 200%, 0);
	-ms-transform: translate3d(0, 200%, 0);
	-webkit-transform: translate3d(0, 200%, 0);
	transform: translate3d(0, 200%, 0);
}

.work-box:hover img {
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	z-index: 3;
}

.work-box:hover .overlay {
	opacity: 1;
}

.work-box:hover .overlay h5,
.work-box:hover .overlay p {
	opacity: 1;
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.FondoBodyIndex .carousel-indicators {
	margin-bottom: -5px;
	margin-left: 20px;
}


/*-------- NavBar ---------- */

.ContenedorMenu {
	height: 60px;
	width: 100%;
	z-index: 999;
	border-bottom: 0px;
	top: 0;
	position: fixed;
	background: rgba(36, 36, 36, 0.84);
	background: -moz-linear-gradient(top, rgba(36, 36, 36, 0.84) 0%, rgba(31, 31, 31, 0.7) 15%, rgba(26, 26, 26, 0.52) 34%, rgba(26, 26, 26, 0) 88%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(36, 36, 36, 0.84)), color-stop(15%, rgba(31, 31, 31, 0.7)), color-stop(34%, rgba(26, 26, 26, 0.52)), color-stop(88%, rgba(26, 26, 26, 0)));
	background: -webkit-linear-gradient(top, rgba(36, 36, 36, 0.84) 0%, rgba(31, 31, 31, 0.7) 15%, rgba(26, 26, 26, 0.52) 34%, rgba(26, 26, 26, 0) 88%);
	background: -o-linear-gradient(top, rgba(36, 36, 36, 0.84) 0%, rgba(31, 31, 31, 0.7) 15%, rgba(26, 26, 26, 0.52) 34%, rgba(26, 26, 26, 0) 88%);
	background: -ms-linear-gradient(top, rgba(36, 36, 36, 0.84) 0%, rgba(31, 31, 31, 0.7) 15%, rgba(26, 26, 26, 0.52) 34%, rgba(26, 26, 26, 0) 88%);
	background: linear-gradient(to bottom, rgba(36, 36, 36, 0.84) 0%, rgba(31, 31, 31, 0.7) 15%, rgba(26, 26, 26, 0.52) 34%, rgba(26, 26, 26, 0) 88%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#242424', endColorstr='#1a1a1a', GradientType=0);
}

.ContenedorMenu nav div ul li a,
.ContenedorMenu nav div a {
	text-decoration: none;
}


/* --- CLASES PARA EL MENUS FIJO EN LA PARTE SUPERIOR  --- */

.menu-fixed {
	text-decoration: none;
	z-index: 999;
	top: 0;
	position: fixed;
	width: 100%;
	color: #fff;
	background: linear-gradient(to bottom, rgba(36, 36, 36, 0.84) 0%, rgba(31, 31, 31, 0.7) 0%, rgba(26, 26, 26, 0.52) 0%, rgba(26, 26, 26, 0) 0%);
	background-color: #1b232a;
	max-height: 50px;
}

.menu-fixed a {
	text-decoration: none;
	color: #fff;
}

.menu-fixed a:hover {
	text-decoration: none;
	color: #0091EA;
}

.menu-fixed a:active {
	color: #0091EA;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #0091EA;
}


/*-------- End NavBar ---------- */


/*------------- ESTILOS PARA EL FORMULARIO DE LOGEO --------- */

#formcontent {
	margin-right: 20px;
	float: right;
	width: 400px;
	height: 270px;
	max-height: 400px;
	background-color: rgba(33, 33, 33, 0.7);
	backdrop-filter: blur(5px);
	-ms-backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	color: #000;
	text-align: center;
	margin-left: 10px;
	margin-top: -210px;
	padding-top: 10px;
	position: relative;
	z-index: 99;
}

#formcontent h2 {
	color: #fff;
	padding: 5px;
	padding-bottom: 10px;
	padding-top: 22px;
}

.btn-primary1 {
	outline: 0px;
	padding: 15px;
	text-align: center;
	width: 100%;
	border-style: none;
	background-color: #00ABC0;
	margin: 0 auto;
	margin-top: 10px;
	color: #fff;
	font-size: 17px;
	cursor: pointer;
	z-index: 99;
}

.btn-primary1:hover {
	background-color: #097988;
	color: #fff;
}

.btn-primary1:active {
	background-color: #097988;
	color: #fff;
}

.Register1 {
	color: #fff;
	font-weight: bold;
	text-align: left;
	padding-left: 15px;
	padding-top: 10px;
}


/*------- BOTON PARA MOSTRAR O OCULTAR CONTRASEÑA*/

.toggle {
	background: none;
	border: none;
	color: #337ab7;
	display: inline-block;
	font-size: .9em;
	font-weight: 600;
	padding: .5em;
	position: absolute;
	right: 1.9em;
	top: 3.4em;
	z-index: 9;
}


/*------------- FIN ESTILOS PARA EL FORMULARIO DE LOGEO --------- */


/*------------- ESTILOS PARA EL FORMULARIO DE REGISTRO --------- */

#formsigin {
	margin-right: 10px;
	float: right;
	width: 480px;
	height: 560px;
	max-height: 1000px;
	background-color: rgba(33, 33, 33, 0.7);
	backdrop-filter: blur(5px);
	-ms-backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	color: #fff;
	margin-left: 20px;
	margin-top: -210px;
	position: relative;
	z-index: 99;
}

.form-group {
	display: inline-block;
	width: 228px;
	height: 75px;
	border: 0px;
	padding-left: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: left;
}

.form-group1 {
	display: inline-block;
	width: 150px;
	height: 75px;
	border: 0px;
	padding-left: 20px;
	padding-top: 30px;
}

#genre {
	width: 90px;
	margin-left: 40px;
}

#birdth {
	width: 175px;
}

#tel {
	margin-left: 40px;
	width: 140px;
}

#terms {
	margin-left: 10px;
	margin-right: 5px;
	padding-top: 30px;
}

#login {
	padding-top: 10px;
	text-align: center;
}


/*------------- FIN ESTILOS PARA EL FORMULARIO DE REGISTRO --------- */


/*-------------------  -------------------------*/

@media (min-width: 766px) {
	#Txt1 {
		padding-right: 35%;
		margin-top: -22%;
	}
}


/* ------------ TEXTOS EN EL BODY  ---------------------*/

.ContainerText {
	background: #936e76;
	background: -webkit-linear-gradient(315deg, #3f4159 0%, #725767 50%, #cd908b 100%);
	background: linear-gradient(135deg, #3f4159 0%, #725767 50%, #cd908b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$mauve', endColorstr='$blush', GradientType=1);
	color: #fff;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	width: 100%;
	float: left;
	margin-top: -70px;
}

.ContainerText h1,
.ContainerText h2 {
	font-size: 20px;
	font-weight: bold;
}

.ImgTitleLG {
	width: 100%;
	height: 200px;
}

.Txt p,
.Txt h2 {
	text-align: center;
	padding-right: 7%;
	padding-left: 7%;
}


/* ------- ESTILOS QUE SE APLICAN CUANDO LA PAGINA TIENE UN ANCHO DE 765PX (VISTA MOBIL) -----------*/

@media only screen and (max-width: 765px) {
	 :-webkit-scrollbar {
		width: 0px;
		height: 0px;
	}
	/*----- FORMULARIO */
	#formcontent {
		margin-right: 0px;
		width: 100%;
		margin-top: 0px;
		position: inherit;
		margin-bottom: 70px;
	}
	#formsigin {
		margin-right: 0px;
		width: 100%;
		margin-top: 0px;
		position: inherit;
		margin-bottom: 70px;
		Display: table;
	}
	.inputTex {
		width: 90%;
	}
	/*----- MENU */
	.MenuLogin ul li {
		display: block;
		width: 100%;
	}
	.navbar {
		background-color: #1b232a;
		color: white;
	}
	.navbar-brand {
		color: white;
	}
	.material-icons {
		color: white;
	}
	.MenuLogin ul li:nth-of-type(1) {
		padding: 0px;
		padding-top: 10px;
	}
	.navbar-toggle {
		background-color: #1b232a;
		;
	}
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus {
		background-color: transparent;
		color: red;
	}
	.navbar-default .navbar-toggle {
		border: 0px;
	}
	.navbar-default .navbar-nav>.open>a,
	.navbar-default .navbar-nav>.open>a:hover,
	.navbar-default .navbar-nav>.open>a:focus {
		color: blue;
		background-color: transparent;
	}
	/*----- TEXTO */
	.ContainerText {
		width: 100%;
		margin-top: -70px;
	}
	.ImgLg {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	.ImgTitleLG {
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
		padding-top: 0px;
	}
	.ImgTitleLG img {
		height: 100%;
	}
}


/* ------- FIN DE LOS ESTILOS QUE SE APLICAN CUANDO LA PAGINA TIENE UN ANCHO DE 765PX (VISTA MOBIL) -----------*/