.menuHome{
	width: 100;
	text-align: center;
	position: relative;
	margin-top: -60px;
	z-index: 990;
}

.menuHome li{
	float: left;
	list-style: none;
	width: 14.28%;
	height: 50px;
	background: rgba(31, 31, 31, 0.7);
	color: #fff;
	font-weight: bold;
	padding-top: 7px;
	
}

.slider h4{
	display: none;
}

.menuHome li div{
	position: relative;
	margin-top: -40px;
	display: table;
	margin-left: 90px;
	border: 2px solid  #fff;
	border-radius: 50%;
    width: 20px;
    min-height: 18px;
    font-size: 11px;

}

.menuHome li:nth-child(1) div{
	margin-left: 94px;
}

.menuHome li:nth-child(2) div{
	margin-left: 92px;
}

.menuHome li:nth-child(3) div{
	margin-left: 100px;
}

.menuHome li:nth-child(6) div{
	margin-left: 100px;
}


.menuHome li .material-icons{
	vertical-align: bottom;
	margin-right: 5px;
}

.containerSplit{
	width: 100%;
}

.splitL{
	width: 50%;
	float: left;
	padding: 20px;

}

.splitL h2{
	font-weight: bold;
	padding: 0px;
	margin: 0px;
	font-size: 18px;
	margin-bottom: 10px;
}

.splitL h2 .material-icons{
	vertical-align: bottom;
}

.TxtCont{
	border: 2px solid #313113;
	padding: 10px;
	display: table;
	width: 100%;
}

.TxtCont p{
	font-weight: bold;

}

.NameBus{
	width: 70%;
	border-style: none;
	padding: 5px;
	margin-bottom: 10px;
	clear: both;
}

.splitR{
	width: 50%;
	float: right;
	padding: 20px;
}
#langr{
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-webkit-appearance: input;    
	width: 28%;
	float: right;
	margin: 15px;
}
#langr1{
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-webkit-appearance: input;    
	width: 28%;
	float: right;
	margin-top: -40px;
	margin-bottom: 10px;
}
#photoCont{
	width:170px;
	height: 160px;
	margin-left:-6px;
	margin-top:-130px;
}
#photoAd {		
	position: relative;
    float: right;
    margin-top: -155px;
    margin-right: 20px;    
}
.ContainerOC{
	width: 100%;
	
}
.modulebar a{
	float: left;
	list-style: none;
	width: 13%;
	height: 40px;
	background: rgba(31, 31, 31, 0.7);
	color: #fff;
	font-weight: bold;
	padding: 7px;	
	margin-left:1%;
	margin-top:15px;
	text-align:center;
	vertical-align: middle;
	font-weight: bold;
	
}
.modulebar a .material-icons{
	margin-top:-5px;
	margin-right:15px;
	vertical-align: middle;
}
.modulebar a span{
	vertical-align: top;
}

.ContainerOC .First{
	width: 50%;
	float: left;
	font-weight: bold;
	
}

.Open{
	width: 50%;
	float: left;
}

.Close{
	width: 50%;
	float: right;
}

.timeO{
	border: 2px solid  #313113;
	padding: 5px;
	display: table;
}

.Second{
	float: right;
	width: 49%;
}

.Laboral{
	width: 100%;
	padding-left: 20px;
}

.day{
	border: 2px solid  #313113;
	padding: 5px;
	display: table;
	float: left;
	margin-right: 5px;
}
/*---- Inica estilo de tarjeta de precios ----*/
@import url(https://fonts.googleapis.com/css?family=Lato:700);
body {
  font-family: 'lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: linear-gradient(35deg, #84fab0, #8fd3f4);
  padding: 0;
  margin: 0;
  height: 100vh;
}

.wrapper-card {
  display: flex;
  flex-wrap: nowrap;
  margin: 40px auto;
  width: 77%;
}

.card {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 1px transparent;
  flex: 1;
  margin: 8px;
  padding: 30px;
  position: relative;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.card.popular {
  margin-top: -10px;
  margin-bottom: -10px;
}
.card.popular .card-title h3 {
  color: #3498db;
  font-size: 22px;
}
.card.popular .card-price {
  margin: 50px;
}
.card.popular .card-price h1 {
  color: #3498db;
  font-size: 60px;
}
.card.popular .card-action button {
  background-color: #3498db;
  border-radius: 80px;
  color: #fff;
  font-size: 17px;
  margin-top: -15px;
  padding: 15px;
  height: 80px;
}
.card.popular .card-action button:hover {
  background-color: #2386c8;
  font-size: 23px;
}
.card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card-ribbon {
  position: absolute;
  overflow: hidden;
  top: -10px;
  left: -10px;
  width: 114px;
  height: 112px;
}
.card-ribbon span {
  position: absolute;
  display: block;
  width: 160px;
  padding: 10px 0;
  background-color: #3498db;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  left: -35px;
  top: 25px;
  transform: rotate(-45deg);
}
.card-ribbon::before, .card-ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #2980b9;
  border-top-color: transparent;
  border-left-color: transparent;
}
.card-ribbon::before {
  top: 0;
  right: 0;
}
.card-ribbon::after {
  bottom: 0;
  left: 0;
}

.card-title h3 {
  color: rgba(0, 0, 0, 0.3);
  font-size: 15px;
  text-transform: uppercase;
}
.card-title h4 {
  color: rgba(0, 0, 0, 0.6);
}

.card-price {
  margin: 60px 0;
}
.card-price h1 {
  font-size: 46px;
  color:#f9814d;
}
.card-price h1 sup {
  font-size: 15px;
  display: inline-block;
  margin-left: -20px;
  width: 10px;
}
.card-price h1 small {
  color: rgba(0, 0, 0, 0.3);
  display: block;
  font-size: 11px;
  text-transform: uppercase;
}

.card-description ul {
  display: block;
  list-style: none;
  margin: 60px 0;
  padding: 0;
}
.card-description li {
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  margin: 0 0 15px;
}
.card-description li::before {
  font-family: FontAwesome;
  content: "\f00c";
  padding: 0 5px 0 0;
  color: rgba(0, 0, 0, 0.15);
}

.card-action button {
  background: transparent;
  border: 2px solid #3498db;
  border-radius: 30px;
  color: #3498db;
  cursor: pointer;
  display: block;
  font-size: 15px;
  font-weight: bold;
  padding: 20px;
  width: 100%;
  height: 60px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.card-action button:hover {
  background-color: #3498db;
  box-shadow: 0 2px 4px #196090;
  color: #fff;
  font-size: 17px;
}

/*---- Fin estilos tarjeta de precio ----*/
/*--Estilo aplicados a Housing.view y a Store view--*/
.service-section {
	padding-top: 100px;
}
.services {
	margin-bottom: 50px;
}
.services-content {
	padding: 30px 30px 20px;
	margin-top: 30px;
	background: #ffffff;
	text-align: left !important;
	display: table-cell;
	border-radius: 0;
	border: 1px solid #f9814d;
	color:black;
}
.services-content h5{
	font-weight:bold;
}
.services .icon {
	color: #ffffff;
	font-size: 28px;
	padding-top: 30px;
	float: left;
	background: #f9814d;
	border-radius: 50%;
	height: 90px;
	width: 90px;
	font-weight: 600;
	margin-bottom: 46px;
	display: table-cell;
	/* border: #82c434 solid 1px; */
	margin-right: -11px;
}

/*--Fin estilo aplicados a Housing.view--*/
/*--Estilo aplicados a FAD.view--*/
.person {
	max-width: 300px;
	text-align: center;
}
.person img {
	width: 220px;
	height:220px;
	margin: auto;
	background-color:white;
}
.person-content {
	margin-top: 20px;
}
.person h4 {
	font-weight: 400;
}
.person h5 {
	color: #fc8d5d;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 20px;
	text-align: center;
}
.social-icons, .footer .footer-share {
	margin-top: 20px;
}
.social-icons li, .footer .footer-share li {
	display: inline-block;
	float: none;
}
.social-icons a, .footer .footer-share a {
	border: 1px solid #cecece;
	color: #8a8a8a;
	display: block;
	font-size: 14px;
	height: 32px;
	line-height: 32px;
	margin-right: 5px;
	text-align: center;
	width: 32px;
}
.social-icons a:hover {
	background-color: #fc8d5d;
	border-color: #fc8d5d;
	color: #fff;
}
/*--Fin estilo aplicados a FAD.view--*/
/*-- Estilos aplicados a Entertainment view --*/
.work img {
	width: 240px;
	height: 240px;
	padding-top:15px;
}
.work h5, .work p, .work img {
	-moz-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	-webkit-transition: all, 0.5s;
	transition: all, 0.5s;
}
.work h5, .work p {
	color: #fff;
	margin: 0;
	opacity: 0;
}
.work span {
	font-size: 45px;
}
.work h5 {
	margin-bottom: 5px;
	-moz-transform: translate3d(0, -200%, 0);
	-ms-transform: translate3d(0, -200%, 0);
	-webkit-transform: translate3d(0, -200%, 0);
	transform: translate3d(0, -200%, 0);
}
.work p {
	-moz-transform: translate3d(0, 200%, 0);
	-ms-transform: translate3d(0, 200%, 0);
	-webkit-transform: translate3d(0, 200%, 0);
	transform: translate3d(0, 200%, 0);
}
.work-box:hover img {
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	z-index:3;
}
.work-box:hover .overlay {
	opacity: 1;
}
.work-box:hover .overlay h5, .work-box:hover .overlay p {
	opacity: 1;
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/*-- Fin estilos aplicados a Entertainment view --*/