<link rel="stylesheet" href="../../assets/css/GeneralSlider.css">

<!-- Apartir de acá se inicia el slider principal-->
<div class="PrincipalSlider">
  <div class="slider">
    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
        <div class="" style="width:100%;">
          <div class="SlideImg" id="Slide1" style="display:inline-block;;">
            <img ng-src="{{slide.image}}">
          </div>
          <div class="SlideImg" style="display:inline-block;width:40%;">
            <img ng-src="{{slides[$index+1].image}}">
            <div id="Carousel-title" class="carousel-caption">
              <h4> {{ slides[$index+1].name }} </h4>
            </div>
          </div>
          <div class="SlideImg" id="Slide2" style="display:inline-block;">
            <img ng-src="{{slides[$index+2].image}}">
          </div>
        </div>
        <div class="BlurredTileBar"></div>
      </div>
    </div>

  </div>
</div>

<!-- <div class="slide_buttons"></div> -->
