
<div>
  
  <h2 class="TitleCont1" translate>ParkssTitle</h2> <!-- Categoria o clasificacion -->
  <!-- Contenedor de los Tiles de esas categorias -->
  <div class="TilesSections">
    <!-- Tiles -->
    <tile-general ng-repeat="business in vm.aparks" info="business"></tile-general>
  </div> <!-- FIN DEL CONTAINER -->
  <hr class="separator" >
</div>
<!---------------------------------------------------------------------------------------------->
<div>
  <h2 class="TitleCont1" translate>StadiumsTitle</h2> <!-- Categoria o clasificacion -->
  <div class="TilesSections">   <!-- Contenedor de los Tiles de esas categorias -->
    <!-- Tiles -->
    <tile-general ng-repeat="business in vm.stadium" info="business"></tile-general>
  </div> <!-- FIN DEL CONTAINER -->
  <hr class="separator" >
</div>
<!---------------------------------------------------------------------------------------------->
<div>
  <h2 class="TitleCont1" translate>DiscothequesTitle</h2> <!-- Categoria o clasificacion -->
  <!-- Contenedor de los Tiles de esas categorias -->
  <div class="TilesSections">
    <!-- Tiles -->
    <tile-general ng-repeat="business in vm.discotheque" info="business"></tile-general>
  </div><!-- FIN DEL CONTAINER -->
  <hr class="separator" >
</div>
<!---------------------------------------------------------------------------------------------->
<div>
  <h2 class="TitleCont1" translate>CinemasTitle</h2> <!-- Categoria o clasificacion -->
  <!-- Contenedor de los Tiles de esas categorias -->
  <div class="TilesSections">
    <!-- Tiles -->
    <tile-general ng-repeat="business in vm.cinema" info="business"></tile-general>
  </div> <!-- FIN DEL CONTAINER -->
  <hr class="separator" >
</div>
<!---------------------------------------------------------------------------------------------->
<div>
  <h2 class="TitleCont1" translate>Game CentersTitle</h2> <!-- Categoria o clasificacion -->
  <!-- Contenedor de los Tiles de esas categorias -->
  <div class="TilesSections">
    <!-- Tiles -->
    <tile-general ng-repeat="business in vm.gamecenter" info="business"></tile-general>
  </div> <!-- FIN DEL CONTAINER -->
  <hr class="separator" >
</div>
<!---------------------------------------------------------------------------------------------->
