<!-- TILES POCICIONADOS SOBRE EL SLIDER-->
<ul>

    <a ui-sref="working">
    <li class="scale">
        <div class="LiContainer">
            <i class="material-icons">monetization_on</i>
        </div>

        <div class="TitleDiv" Translate>WalletTitle</div>
    </li>
    </a>

    <a ui-sref="working">
    <li class="scale">
        <div class="LiContainer">
            <i class="material-icons">security</i>
        </div>

        <div class="TitleDiv" Translate>EmergenciesTitle</div>
    </li>
    </a>

    <a ui-sref="working">
    <li class="scale">
        <div class="LiContainer">
            <i class="material-icons">extension</i>
        </div>

        <div class="TitleDiv" Translate>PreferencesTitle</div>
    </li>
    </a>
    
    <a ui-sref="Specifichousing">
    <li class="scale">
            <div class="LiContainer">
                <i class="material-icons">business</i>
            </div>
        <div class="TitleDiv" Translate>InstitutionsTitle</div>
    </li>
    </a>

    <a ui-sref="working">
    <li class="scale">
        <div class="LiContainer">
            <i class="material-icons">assistant_photo</i>
        </div>

        <div class="TitleDiv" Translate>CountriesTitle</div>
    </li>
    </a>

    <a ui-sref="working">
    <li class="scale">
        <div class="LiContainer">
            <i class="material-icons">directions_car</i>
        </div>

        <div class="TitleDiv" Translate>TransportTitle</div>
    </li>
    </a>
    
           <a ui-sref="Specifichousing">
    <li class="scale">
            <div class="LiContainer">
                <i class="material-icons">business</i>
            </div>
        <div class="TitleDiv" Translate>InstitutionsTitle</div>
    </li>
    </a>
        <!-- ---------------------------------------------------------------------------------------------------- x -->

           <a ui-sref="Specifichousing">
    <li class="scale">
            <div class="LiContainer">
                <i class="material-icons">business</i>
            </div>
        <div class="TitleDiv" Translate>InstitutionsTitle</div>
    </li>
    </a>

        <a ui-sref="Specifichousing">
    <li class="scale">
            <div class="LiContainer">
                <i class="material-icons">business</i>
            </div>
        <div class="TitleDiv" Translate>InstitutionsTitle</div>
    </li>
    </a>
</ul>