
/* Inicia estilo contenedor flotante */
.ContainerFloatTiles {
	list-style: none;
    margin-top: -220px;
   	width: 210px;
    height: 100px;
}
#DobleTile ul li {
	width: 180px;
	vertical-align: middle;
	cursor: pointer;
}
.iconText {
	vertical-align:15px;
}
/* Fin estilo contenedor flotante */
.contain{ /* Estilo de contenedor principal */
	width: 100%;
	height: 100%;
	padding-top:15px;
	display: flex;
}
.friends{ /* Estilo de contenedor de amigos */
    width: 79.5%;
	padding-right:10px;
    float:left;
	list-style: none;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}
.recomend{ /* Estilo contenedor de recomendados */
    width:20.5%;
    padding:10px;
    border-left: solid white;
    float: right;
}
.recomend h4{/* Estilo para el téxto en contenedor de recomendados */
	font-weight: bold;
	text-align: center;
	color:white;
}
.frienddet{ /* Estilo detalle de amigos */
    width: 250px;
	height:250px;
	margin-bottom: 10px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	background-color: white;
    
}
.contact img{ /* Estilo aplicado a la imágen de friends */
	width:250px;
	height:180px;
	margin-bottom:-30px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.det{/*Contenedor del detalle de friend  */
	height: 70px;
	margin-top:34px;	
}
.editbar {/* Contenedor del boton friend */
	float: left;
    height: 30px;
	cursor: pointer;
    background-color: rgba(0,0,0,.5);
	padding-top: 2.5px;
    text-align: center;
    width: 124px;
	position: relative;
	bottom: 0px;
	transition: all ease 0.3s;
	color:white;
}
.followbar {/* Contenedor del boton follow */
	float: right;
    height: 30px;
	cursor: pointer;
    background-color: rgba(0,0,0,.5);
	padding-top: 2.5px;
    text-align: center;
	width: 124px;
	position: relative;
	bottom: 0px;
	transition: all ease 0.3s;
	color:white;
}
.editbar:active {
	bottom: 3px;
	background: red;
	box-shadow: 0 3px 0 #58646D ;  
}
.followbar:active {
	bottom: 3px;
	background: blue;
	box-shadow: 0 3px 0 #58646D ;  
}
.edit{/* Botón editar*/ 	
	padding-left:2px;
	font-weight: bold;
	font-size:18px;
	vertical-align:top; 
}
.text{/* Nombre de friends*/
	text-align:center;
}
.num{/* frase dabajo de nombre */
	text-align:center;
	font-weight: bold;	
}
.reditbar {/* Contenedor del boton friend */
	float: left;
    height: 30px;
	cursor: pointer;
    background-color: rgba(0,0,0,.5);
	padding-top: 2.5px;
    text-align: center;
    width: 124px;
	position: relative;
	bottom: 0px;
	transition: all ease 0.3s;
	color:white;
}
.reditbar:active {
	bottom: 3px;
	background: limegreen;
	box-shadow: 0 3px 0 #58646D ;  
}