.cBody {
height:100%;
}
b{
	font-weight: bold;
}
.ContainerFloatTiles {
	list-style: none;
    margin-top: -220px;
    width: 32%;
    height: 100px;
}
#DobleTile ul li {
	width: 180px;
	vertical-align: middle;
	cursor: pointer;
}
.iconText {
	vertical-align:15px;
}
.container{
	margin-top: 20px;
	padding-left:10px;
	padding-right:10px;
	margin-bottom: 50px;
}
.address{
	height:260px;
	background:white;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	margin-top:20px;
}
.addressText{
	padding-left: 20px;
	padding-right: 20px;
}
.coverPic{
	float: left;
	width:30%;
	height:260px;
}
.detail{
	float: right;
	width:70%;
}
.contentdetail{
height:210px;
}
.detail .contentdetail p{
	margin-top:30px;
}
.downbar {
	height:30px;
	float: right;
}
.lang{
	margin-top: -20px;
	float:right;
	width:120px;
	height:40px;
	text-align: center;
}
.regdat{
	float:left;
}
.countrycont{	
	padding: 5px;
	list-style: none;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;	
}
.countrydet p {	
	margin-top: 60px;
	margin-left: 140px;
	margin-bottom: 60px;
}
.flag img{
	margin-top:30px;
	margin-left:10px;
	float: left;
	width:120px;
	height:120px;
	border-radius:60px; 
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.countrydet{
	margin-bottom:15px;
	display: inline-block;
	width: 350px;
	height:200px;
	padding-right: 10px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	background-color: white;
}
.countrydet input{
	float: right;
}
.deletebar {
	float: right;
	margin-right: 5px;
	bottom: 0px;	
	height:30px;
}
.delete{
  color: #e0655d;
  cursor: pointer;
  font-weight: 500;
  margin: 15px 0 5px;
  padding: 10px;
}
.delete:hover {
  background-color: rgba(221, 65, 50, .2);
  color: #e0655d;
}
.action{
	color:#1464ab;
	cursor: pointer;
	font-weight: 500;
	margin: 15px 0 5px;
	padding: 10px
}
.action:hover {
  background-color: rgba(20, 100, 171, .2);
  color: #1464ab;
}