
/* Inicia estilo contenedor flotante */
.ContainerFloatTiles {
	list-style: none;
    margin-top: -220px;
    width: 210px;
    height: 100px;
}
#DobleTile ul li {
	width: 180px;
	vertical-align: middle;
	cursor: pointer;
}
.iconText {
	vertical-align:15px;
}
/* Fin estilo contenedor flotante */
.contain{ /* Estilo de contenedor principal */
	width: 100%;
	margin-top:15px;
}
.gnumber{ /* Estilo de contenedor de numeros generales */
    width:78%;
	height: 100%;
	padding-right:10px;
	padding-left:15px;
    float:left;
	list-style: none;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}
.mnumber{ /* Estilo contenedor de números principales */
    width:22%;
	height: 100%;
	padding-left:10px;
	padding-right:10px;
    border-left: solid white;
    float: right;
}
.mnumber h4{/* Estilo para el téxto en contenedor de números principales */
	/*font-weight: bold;*/
	margin-left:40px;;
	margin-bottom:10px;
	color:white;
}
.gnumdet{ /* Estilo detalle de números generales */
    width: 290px;
	height:140px;
	margin-bottom: 10px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	background-color: white;
    
}
.mnumdet{ /* Estilo detalle de números principales */
    width: 100%;
	height:80px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	background-color: white;
	margin-bottom:10px;
}
.contact img{ /* Estilo aplicado a la imágen en el detalle de general number */
	margin-top:20px;
	margin-left:5px;
	margin-right:5px;
	float: left;
	width:100px;
	height:100px;
	border-radius:60px; 
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.phonedet{/*Contenedor del detalle telefónico  */
	height: 110px;
		
}
.editbar {/* Contenedor del boton editar */
	float: right;
    height: 30px;
	cursor: pointer;
    background-color: rgba(42,187,155,.7);
	color: #2abb9b; 
	padding-top: 2.5px;
    text-align: center;
    width: 120px;
	position: relative;
	bottom: 0px;
	transition: all ease 0.3s;
}
.editbar:active {
	bottom: 3px;
	background: #2abb9b;
	color: white; 
	box-shadow: 0 3px 0 #58646D ;  
}
.edit{/* Botón editar*/ 	
	padding-left:2px;
	font-weight: bold;
	font-size:18px; 
}
.text{/* Detalle del número telefónico, solo el texto para número generales*/
	padding-top:30px;
}
.num{/* Estilo aplicado únicamente al número telefónico */
	margin-top:5px;
	margin-left:15px;
	font-weight: bold;	
}
.ic{/* Estilo aplicado únicamente ícono en la tarjeta para números principales*/
	width:25%;
	float:left;
	margin-top:20px;
	text-align: center;
	color: #097988;
}
.mnumdet .content{/* Estilo aplicado únicamente al contenido de la tarjeta para números principales*/
	width:75%;
	float:right;
	height:60px;
	border-left:solid #58646D ;
	color: #203E4A;
	margin-top:10px;
}
.textc{ /* Detalle del número telefónico, solo el texto para número principal*/
	padding-left:15px;
	padding-right:15px;
	margin-top:9px;
}