/*------------------  FLOAT CONTAINER   --------------------------*/
.ContainerFloatTiles {
	z-index: 990;
	position: relative;
	margin-top: -360px;
	width: 34%;
	height: 350px;
	float: right;
	margin-right: -6px;
}
.ContainerFloatTiles ul {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0;
	text-align: center;
}
.ContainerFloatTiles ul li {
	float: left;
	width: 48%;
	margin: 2px;
	margin-top: 2px;
	height: 116px;
	max-height: 116px;
	background-color: rgba(51,51,51,0.7);
	backdrop-filter: blur(5px);
  -ms-backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
	color:#fff;
	text-align: right;
	list-style: none;
	overflow: hidden;
}
#DobleTile {
	width: 96.8%;
}
.LiContainer {
	height: 116px;
	/* background-color: orange; */
	text-align: center;
}
.ContainerFloatTiles ul li .TitleDiv {
	position: relative;
	margin-top: -34px;
	padding-bottom:12px;
	padding-right: 34px;
	z-index: 999;
	width: 100%;
}
.ContainerFloatTiles #DobleTile #HaveThis {
	position: absolute;
	margin-top: -116px;
	z-index: 2;
	height:116px;
}
.LiContainer .material-icons {
	font-size: 73px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 34px;
}
.LiContainer .material-icons {
	font-size: 73px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 34px;
}
.lessFont .LiContainer .material-icons {
	font-size: 73px;
	text-align: center;
	padding-top: 26px;
	padding-bottom: 18px;
}
#DobleTile ul li {
	width: 50px;
	height: 50px;
	text-align: center;
	padding-top: 9px;
	display: inline-block;
	margin-right: 0px;
}
#DobleTile {
	padding-top: 5px;
	background-color: transparent;
}
#DobleTile ul li .material-icons {
	font-size: 36px;
}
/*  Animaciones de hover y active*/
.scale:hover .material-icons {
	-webkit-transform: scale(1.02);
	transition: all 0.3s;
}
.scale:active .material-icons {
	-webkit-transform: scale(1);
	transition: all 0.3s;
}
/*  FIN Animaciones de hover y active*/
#DobleTile li:hover .material-icons {
	-webkit-transform: scale(1.05);
	transition: all 0.3s;
}
#DobleTile li:active .material-icons {
	-webkit-transform: scale(1);
	transition: all 0.3s;
}
.scale, #DobleTile .material-icons {
	cursor: pointer;
}
.FollowLink:visited .material-icons {
   color: #f44336;
}
#HaveThis li:hover > ul {
	display:block;
	max-height: 40px;
}
#HaveThis li ul li {
	position:relative;
	max-height: 39px;
	margin-top: 1px;
	margin-left: 1px;
	width: auto;
	padding-left: 8px;
	padding-right: 8px;
	background-color: rgba(33,33,33,1);
	/* top: -44px; */
}
#HaveThisli ul li ul {
	top:0px;
	right: -140px;
}
/* ESTILOS PARA EL MODELO RESPONSITIVE */
@media only screen and (max-width: 767px) {
	.ContainerFloatTiles{
		display: none;
	}
}
