.cBody {
    height:100%;
}
/* Inicia estilo contenedor flotante */
.ContainerFloatTiles {
	list-style: none;
    margin-top: -220px;
    width: 32%;
    height: 100px;
}
#DobleTile ul li {
	width: 180px;
	vertical-align: middle;
	cursor: pointer;
}
.iconText {
	vertical-align:15px;
}
/* Fin estilo contenedor flotante */
.contain{ /* Estilo de contenedor principal */
	width: 100%;
    height: 100%;
	margin-right: auto;
    margin-left: auto;
	margin-top:15px;
}
.gnumber{ /* Estilo de contenedor de numeros generales */
    width:73%;
	padding-right: 10px;
	padding-left: 25px;
    float:left;
	list-style: none;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}
.mnumber{ /* Estilo contenedor de números principales */
    width:27%;
	padding-left: 10px;
    border-left: solid white;
    float: right;
}
.mnumber p{/* Estilo para el téxto en contenedor de números principales */
	font-weight: bold;
	padding-left:50px;;
	padding-bottom:30px;
}
.gnumdet{ /* Estilo detalle de números generales */
    width: 275px;
	height:140px;
	margin-bottom: 10px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	background-color: white;    
}
.mnumdet{ /* Estilo detalle de números principales */
    width: 200px;
	height:100px;
    margin-left:30px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	background-color: white;
}
.contact img{ /* Estilo aplicado a la imágen en el detalle de general number */
	margin-top:20px;
	margin-left:5px;
	margin-right:5px;
	float: left;
	width:100px;
	height:100px;
	border-radius:60px; 
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.phonedet{/*Contenedor del detalle telefónico  */
	height: 110px;
	padding-right: 5px;
		
}
.editbar {/* Contenedor del boton editar */
	float: right;
    height: 30px;
	cursor: pointer;
    background-color: rgba(42,187,155,.7);
	color: #2abb9b; 
	padding-top: 2.5px;
    text-align: center;
    width: 120px;
	position: relative;
	bottom: 0px;
	transition: all ease 0.3s;
}
.editbar:active {
	bottom: 3px;
	background: #2abb9b;
	color: white; 
	box-shadow: 0 3px 0 #58646D ;  
}
.edit{/* Botón editar*/ 	
	padding-left:2px;
	font-weight: bold;
	font-size:18px;
}
.text{/* Detalle del número telefónico, solo el texto para número generales*/
	font-weight: bold;
	padding-top:30px;
}
.num{/* Estilo aplicado únicamente al número telefónico para número generales*/
	margin-top:5px;
	font-weight: bold;	
}
.price{/* Estilo aplicado únicamente al número telefónico para número generales*/
	font-weight: 500;	
}
.ic{/* Estilo aplicado únicamente ícono en la tarjeta para números principales*/
	width:50px;
	float:left;
}
.content{/* Estilo aplicado únicamente al contenido de la tarjeta para números principales*/
	width:150px;
	float:right;
}
.review {
	overflow-y: auto;
	margin-top: -100px;
	padding: 10px;
	width: 100%;
	height: 267px;
}
/*----------  Chat Input    ------------*/
.WritePanel{	
	width: 100%;
	height: 100px;
	bottom: 47px;;
	position: fixed;
	left: 0px;
	right: 0px;

}
.ChatWrite{
	top: 0px;
	float:left;
	width: 80%;
	height: 100%;
	padding: 10px;
	font-size: 16px;
	border:none;
	border-top: 2px solid #00bcd4;
	border-bottom: 2px solid #00bcd4;
	border-left: 2px solid #00bcd4;
}
.SubmtSend{
	top: 0px;
	left: 0px;
	width: 20%;
	float: right;
	height: 100%;
	padding: 11.5px;
	background-color: rgba(41, 128, 185,1.0);
	border:none;
	border-top: 2px solid #2980B9;
	border-bottom: 2px solid #2980B9;
	border-left: 2px solid #2980B9;
	border-style: none;
	font-size: 15px;
	color: #fff;
	cursor: pointer;
}
.SubmtSend:hover{
	background-color: rgba(52, 152, 219,1.0);
}
.SubmtSend:active{
	background-color: rgba(41, 128, 185,0.7);}

/*----------  MODAL    ------------*/