@-webkit-keyframes zoomEffect {
  0% {
    -webkit-transform: scale(1) translateX(0);
    -moz-transform: scale(1) translateX(0);
    -ms-transform: scale(1) translateX(0);
    transform: scale(1) translateX(0);
  }
  100% {
    -webkit-transform: scale(1.02) translateX(-100px) translateY(-40px);
    -moz-transform: scale(1.02) translateX(-100px) translateY(-40px);
    -ms-transform: scale(1.02) translateX(-100px) translateY(-40px);
    transform: scale(1.02) translateX(-100px) translateY(-40px);
  }
}
@keyframes zoomEffect {
  0% {
    -webkit-transform: scale(1) translateX(0) translateY(0);
    -moz-transform: scale(1) translateX(0) translateY(0);
    -ms-transform: scale(1) translateX(0) translateY(0);
    transform: scale(1) translateX(0) translateY(0);
  }
  100% {
    -webkit-transform: scale(1.02) translateX(-100px) translateY(-40px);
    -moz-transform: scale(1.02) translateX(-100px) translateY(-40px);
    -ms-transform: scale(1.02) translateX(-100px) translateY(-40px);
    transform: scale(1.02) translateX(-100px) translateY(-40px);
  }
}

.header-image {
  left: 0;
  position: absolute;
  top: 0;
  z-index: -1;
  height: auto;
  -webkit-animation: zoomEffect 25s infinite;
          animation: zoomEffect 25s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.TilesSections {
  margin-top: 10px;
  white-space: nowrap;
  overflow-x: auto;
  /*height: 270px;*/
  padding-left: 5px;
  margin-bottom: 0px;
}
.TilesSections1 { /* <---- check --*/
  height: 270px;
  overflow: auto;
}
.TileSite1 {
  width: 22%;
  height: 128px;
  color: #fff;
  margin-bottom: 10px;
  background-color: #37474f;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  display: inline-block;
  margin-left: 5px;
}
.TileSite1:hover {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  transition: all 0.3s;
}
.TileSite1:active {
  transform: scale(1.03);
  -moz-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  transition: all 0.3s;
}
.TileSitesContenido {
  width: 100%;
  height: 130px;
  overflow: hidden;
  text-align: center;
}
.TileSPx {
  width: 100%;
  height: 130px;
  overflow: hidden;
  text-align: center;
  margin-top: -2px;
}
.TileSPx1 {
  padding-top: 5%;
  width: 10%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  background-color:#FFD700
}
.TileSPx2 {
  width: 45%;
  overflow: hidden;
  margin-top:10%;
}
.TileSPx3 {
  width: 45%;
  overflow: hidden;
  text-align: Top;
  margin-top:-80px;
}
.sideText {
  color:black;
  margin-left: 10%;
  margin-top: 5%;
  background-color: white;
  font-weight:normal;
  margin-top: -130px;
  font-size: 12px
}
.SCell {
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 3%;
  width: 15%;
  text-align: left;
}
/* ------------------------------------------------------------------------------------------ */
.SpanTitleBis {
  float: left;
  font-size: 0.8em;
  margin-left: 12px;
  position: relative;
  margin-top: -25px;
  z-index: 2;
}
.SpanStar {
  position: relative;
  margin-top: -33px;
  float: right;
  width: 70px;
  text-align: center;
  z-index: 2;
  margin-right: 12px;
}
/* AQUI SE ADAPTAN LAS IMAGENES CONTENIDAS EN LOS TILES */
.TileSitesContenido .material-icons {
  font-size: 73px;
  padding-top: 30px;
  padding-bottom: 28px;
  text-align: center;
}
.SpanStar .material-icons {
  font-size: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
  color: #ffeb3b;
  vertical-align: bottom;
}
.buy .material-icons {
  font-size: 30px;
  padding-top: 2px;
  padding-bottom: 10px;
  text-align: Left;
  color: #c0c0c0;
  vertical-align: top;
  position: relative;
}
.SpanFollow .material-icons:active {
  transform: scale(1.2);
 -webkit-transform: scale(1.2);
  transition: all 0.3s;
}
.SpanFollow .material-icons {
  color: #fff;
}
.FollowLink:visited .material-icons {
  color: #f44336;
}
.TileSite1 .carousel-indicators {
  padding-left: 20px;
  margin-bottom: -12px;
}
.PrincipalSlider .carousel-indicators {
  padding-left: 20px;
  margin-bottom: -5px;
}
.TitleCont1 {
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 10px;
  color: #fff;
  letter-spacing: 0.1rem;
  font-size: 1.6rem;
}
/*DISEÑO RESPONSITIVE----------------------------------------------*/
@media only screen and (max-width: 767px) {
  .TileSite1 {
    width: 49%;
    margin: 0px;
    margin-right: 1%;
    margin-bottom: 10px;
  }
  .TilesSections {
    padding-left: 0px;
  }
  .SpanStar {
    position: relative;
    margin-top: -130px;
    float: right;
    width: 70px;
    text-align: center;
    z-index: 2;
    margin-right: 12px;
  }
   ::-webkit-scrollbar {
    height: 0px;
  }
}
