.carousel-indicators, .carousel-indicators .active{
  display: none;
}
.slider {
  width: 100%;
  margin: auto;
  overflow: hidden;
  height: 410px;
  max-height: 410px;
}
.slider li {
  width: 100%;
  list-style: none;
  margin: 0px;
}
.slider img {
  width: 100%;
  height: 410px;
  object-fit: cover;
}
@media only screen and (min-width: 850px) {
  #Carousel-title {
    right: 0%;
    left: -80%;
    bottom: -30px;
    z-index: 98;
  }
  #Carousel-title h4 {
    color:#fff;
    z-index: 98;
  }
}
/* AQUI SE GENERA LA BARRA DIFUMINADA QUE ESTA EN LA PARTE INFERIOR DE LOS TILES */
.BlurredTileBar {
  position: relative;
  margin-top: -50px;
  height: 50px;
  width: 100%;
  z-index: 2;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.65) 83%, rgba(0, 0, 0, 0.65) 84%, rgba(0, 0, 0, 0.65) 85%, rgba(0, 0, 0, 0.65) 87%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.65) 83%, rgba(0, 0, 0, 0.65) 84%, rgba(0, 0, 0, 0.65) 85%, rgba(0, 0, 0, 0.65) 87%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.65) 83%, rgba(0, 0, 0, 0.65) 84%, rgba(0, 0, 0, 0.65) 85%, rgba(0, 0, 0, 0.65) 87%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
}/*
.TileSite1 .BlurredTileBar {
  position: relative;
  margin-top: -40px;
  height: 40px;
  width: 100%;
  z-index: 2;
  background-color: rgba(33,33,33,0.5);
}
.LiContainer .BlurredTileBar {
  z-index: 3;
}
 /* _________________________________________________________________________________________________ */
/*  Aqui estan las tranciciones para los tile sites, estos son los tiles que estan abajo el slider */
.TileSite1 .slider img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.TileSite1 .slider ul {
  display: flex;
  padding: 0;
  width: 400%;
  height: 180px;
  overflow: hidden;
  position: relative;
}
.TileSite2 .slider img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.TileSite2 .slider ul {
  display: flex;
  padding: 0;
  width: 400%;
  height: 180px;
  overflow: hidden;
  position: relative;
}
.TileSite3 .slider img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.TileSite3 .slider ul {
  display: flex;
  padding: 0;
  width: 400%;
  height: 180px;
  overflow: hidden;
  position: relative;
}
.TileSitesContenidoMini .slider img {
  width: 100%;
  height: 88px;
  object-fit: cover;
  float: left;
}
.TileSitesContenidoMini .slider ul {
  display: flex;
  padding: 0;
  width: 400%;
  height: 88px;
  overflow: hidden;
  position: relative;
}
.TileSite5 .slider img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.TileSite5 .slider ul {
  display: flex;
  padding: 0;
  width: 400%;
  height: 180px;
  overflow: hidden;
  position: relative;
}
.TileSite6 .slider img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.TileSite6 .slider ul {
  display: flex;
  padding: 0;
  width: 400%;
  height: 180px;
  overflow: hidden;
  position: relative;
}
.LiContainer .slider img {
  width: 100%;
  height: 116px;
  object-fit: cover;
}
.LiContainer .slider ul {
  display: flex;
  padding: 0;
  margin: 0px;
  width: 400%;
  height: 116px;
  overflow: hidden;
  position: relative;
}
#DobleTile .LiContainer .slider ul {
  display: flex;
  padding: 0;
  margin: 0px;
  width: 400%;
  height: 116px;
  overflow: hidden;
  position: relative;
}
.LiContainer .slider li {
  padding: 0;
  margin: 0;
}

/* _________________________________________________________________________________________________ */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slide_buttons {
  width: 100%;
  height: 50px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: left;
  margin-top: -119px;
  z-index: 50000;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.65) 83%, rgba(0, 0, 0, 0.65) 84%, rgba(0, 0, 0, 0.65) 85%, rgba(0, 0, 0, 0.65) 87%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.65) 83%, rgba(0, 0, 0, 0.65) 84%, rgba(0, 0, 0, 0.65) 85%, rgba(0, 0, 0, 0.65) 87%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.65) 83%, rgba(0, 0, 0, 0.65) 84%, rgba(0, 0, 0, 0.65) 85%, rgba(0, 0, 0, 0.65) 87%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
}
/* ___________________________________VISTA RESPONSIVE______________________________________________________________ */
@media only screen and (max-width: 767px) {
  #Carousel-title {
    bottom: -20px;
    z-index: 98;
  }

  .slider {
    height: 210px;
    max-height: 210px;
  }
  .slider img {
    height: 210px;
  }
}
.PrincipalSlider .slider p {
  position: relative;
  z-index: 50001;
  margin-top: -90px;
  font-size: 20px;
  padding: 8px;
  background-color: rgba(245, 245, 245, 0.8);
  display: table;
  color: #424242;
}
