/*------------------  FLOAT CONTAINER   --------------------------*/
.ContainerFloatTiles {
	z-index: 998;
	position: relative;
	margin-top: -360px;
	width: 50%;
	height: 350px;
	float: right;
	margin-right: -6px;
}
.ContainerFloatTiles ul {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0;
	text-align: center;
}
.ContainerFloatTiles ul li {
	float: left;
	width: 32%;
	margin: 2px;
	margin-top: 2px;
	height: 116px;
	max-height: 116px;
	background-color: rgba(51,51,51,0.7);
	backdrop-filter: blur(5px);
  -ms-backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
	color:#fff;
	text-align: right;
	list-style: none;
	overflow: hidden;
}
#DobleTile {
	width: 64.7%;
}
.LiContainer {
	height: 116px;
	/* background-color: orange; */
	text-align: center;
}
.ContainerFloatTiles ul li .TitleDiv {
	position: relative;
	margin-top: -34px;
	padding-bottom:12px;
	padding-right: 34px;
	z-index: 2;
	width: 100%;
}
/*------------------  NOTIFICATION DIV---*/
.NotificacionTileFloat {
	position: relative;
	margin-top: -116px;
	float: right;
	background-color: #ef5350;
	width: 40px;
	padding: 2px;
	text-align: center;
	z-index: 2;
}
.NotificacionTileFloat2 {
	position: relative;
	margin-top: -116px;
	float: right;
	background-color: #ef5350;
	width: 40px;
	padding: 2px;
	text-align: center;
}
/*------------------  END NOTIFICATION DIV---*/
.LiContainer .material-icons {
	font-size: 73px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 34px;
}
.LiContainer .material-icons {
	font-size: 73px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 34px;
}
.lessFont .LiContainer .material-icons {
	font-size: 73px;
	text-align: center;
	padding-top: 26px;
	padding-bottom: 18px;
}
/*  Animaciones de hover y active*/
.scale:hover{
	-webkit-transform: scale(1.02);
	transition: all 0.3s;
}
.scale2:hover{
	-webkit-transform: scale(1.01);
	transition: all 0.3s;
}
.scale2:active, .scale:active{
	-webkit-transform: scale(1);
	transition: all 0.3s;
}
/* INICIO MODELO RESPONSITIVE */
@media only screen and (max-width: 767px) {
	.ContainerFloatTiles{
		display: none;
	}
}
