a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #eceff1;
}
a:active {
  color: #cfd8dc;
}
select {
    -moz-appearance: none;
}
/* ---------------------------------------------------------------------- */
.slider {
  position: relative;
  z-index: 1;
}
/* --------------- CONTENEDOR MENU  -------------- */
.ContenedorMenu {
  z-index: 999;
  top: 0;
  position: fixed;
  width: 100%;
  color: #fff;
  max-height: 60px;
  background: rgba(36, 36, 36, 0.84);
  background: -moz-linear-gradient(top, rgba(36, 36, 36, 0.84) 0%, rgba(31, 31, 31, 0.7) 15%, rgba(26, 26, 26, 0.52) 34%, rgba(26, 26, 26, 0) 88%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(36, 36, 36, 0.84)), color-stop(15%, rgba(31, 31, 31, 0.7)), color-stop(34%, rgba(26, 26, 26, 0.52)), color-stop(88%, rgba(26, 26, 26, 0)));
  background: -webkit-linear-gradient(top, rgba(36, 36, 36, 0.84) 0%, rgba(31, 31, 31, 0.7) 15%, rgba(26, 26, 26, 0.52) 34%, rgba(26, 26, 26, 0) 88%);
  background: -o-linear-gradient(top, rgba(36, 36, 36, 0.84) 0%, rgba(31, 31, 31, 0.7) 15%, rgba(26, 26, 26, 0.52) 34%, rgba(26, 26, 26, 0) 88%);
  background: -ms-linear-gradient(top, rgba(36, 36, 36, 0.84) 0%, rgba(31, 31, 31, 0.7) 15%, rgba(26, 26, 26, 0.52) 34%, rgba(26, 26, 26, 0) 88%);
  background: linear-gradient(to bottom, rgba(36, 36, 36, 0.84) 0%, rgba(31, 31, 31, 0.7) 15%, rgba(26, 26, 26, 0.52) 34%, rgba(26, 26, 26, 0) 88%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#242424', endColorstr='#1a1a1a', GradientType=0);
}
.VrAll .ContenedorMenu, #colored .ContenedorMenu {
  background: linear-gradient(to bottom, rgba(33, 33, 33, 0.84) 0%, rgba(33, 33, 33, 0.7) 0%, rgba(33, 33, 33, 0.52) 0%, rgba(33, 33, 33, 0) 0%);
  background-color: rgba(33, 33, 33, 0.9);
  max-height: 50px;
}

/* --------------- BARRA DE BUSQUEDAS  -------------- 
#searchMenu {
  border-style: none;
  padding: 9px;
  margin-bottom: 15px;
  margin-top: -8px;
  color: rgba(33, 33, 33, 1);
  width: 250px;
  background-color: rgba(250, 250, 250, 0.4);
  font-size: 16px;
}
#demo-2 input[type=search] {
  width: 15px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
  outline: 0px;
  margin-top: 5px;
  padding-right: 25px;
}
#demo-2 input[type=search]:hover {
    /* background-color: #fff; 
}
#demo-2 input[type=search]:focus {
  width: 200px;
  padding-left: 42px;
  color: #fff;
  background-color: rgba(224, 224, 224, 0.6);
  cursor: auto;
}
#demo-2 input:-moz-placeholder {
  color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
  color: transparent;
}
.FloatRightMenu input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-size: 100%;
}
.FloatRightMenu input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}
.FloatRightMenu input[type=search] {
  background: url(../../assets/files/img/search/white.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 55px;
  border-style: none;
  margin-top: -8px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}*/



/* --------------- CUANDO EL MENU ESTA FIJO EN LA PARTE SUPERIOS -------------- */
.menu-fixed {
  z-index: 999;
  top: 0;
  position: fixed;
  width: 100%;
  color: #fff;
  background: linear-gradient(to bottom, rgba(36, 36, 36, 0.84) 0%, rgba(31, 31, 31, 0.7) 0%, rgba(26, 26, 26, 0.52) 0%, rgba(26, 26, 26, 0) 0%);
  background-color: #1b232a;
  max-height: 50px;
}
.menu-fixed a {
  text-decoration: none;
  color: #fff;
}
.menu-fixed a:hover {
  text-decoration: none;
  color: #0091EA;
}
.menu-fixed a:active {
  color: #0091EA;
}
/* Estilos aplicados para cuando se selecciona o se pasa el cursor sobre los li */
.FloatRightMenu .SubMenuNotificasion li:hover {
  background-color: #fafafa;
}
.FloatRightMenu .SubMenuNotificasion li:active {
  background-color: #f5f5f5;
}
.menu-fixed .FloatRightMenu input[type=search] {
  background: url(../../assets/files/img/search/white.png) no-repeat 9px center;
}
.menu-fixed .navbar-default .navbar-brand {
  color: #fff;
}
.menu-fixed .navbar-default .navbar-text {
  color: #fff;
}
.menu-fixed .navbar-default .navbar-nav>li>a {
  color: #fff;
}
.menu-fixed .navbar-default .navbar-brand:hover {
  color: #757575;
}
.menu-fixed .navbar-default .navbar-brand:active {
  color: #bdbdbd;
}
.menu-fixed .navbar-default .navbar-texthover {
  color: #757575;
}
.menu-fixed .navbar-default .navbar-text:active {
  color: #bdbdbd;
}
.menu-fixed .navbar-default .navbar-nav>li>a:hover {
  color: #0091EA;
}
.menu-fixed .navbar-default .navbar-nav>li>a:active {
  color: #0091EA;
}
/*------------------------------------------------------------------------------------*/
/*-------------  SEARCH BAR   ----------------*/
.searchbar {
  position: relative;
  margin: 0 auto;
  height: 60px;
  min-width: 100px;
  width: 500px;
  height: 40px;
  overflow: hidden;
  margin-top: -4px;
}

.searchbar--input,
.searchbar--buttons {
  top: 0;
  right: 0;
}
@media (min-width: 768px) {
  .searchbar--input,
  .searchbar--buttons {
    position: absolute;
  }

.searchbar--input,
.searchbar--select,
.searchbar--submit {
  border: none;
  outline: none;
}
.searchbar--input {
  width: 100%;
  padding: 20px 0 20px 10px;
  height: 60px;
  font-size: 16px;
  color: white;
  background-color: rgba(255,255,255,0.2);
}
@media (min-width: 768px) {
  .searchbar--input {
    height: 40px;
  }
}
.searchbar--submit,
.searchbar--select {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}
.searchbar--submit {
  width: 80px;
  height: 50px;
  padding: 0;
  margin: 5px;
  line-height: 32px;
  display: block;
  float: right;
  font-size: 14px;
  letter-spacing: .5px;
  background-color: rgba(38,37,37,0.4);
  color: #fff;
}
@media (max-width: 767px) {
  .searchbar--submit {
    width: 36%;
  }
}
@media (min-width: 768px) {
  .searchbar--submit {
    height: 30px;
  }
}
.searchbar--select {
  height: 50px;
  margin: 5px 0;
  padding: 0 40px 0 20px;
  border-radius: 0;
  color: #8a8a8a;
  letter-spacing: .25px;
}
@media (max-width: 767px) {
  .searchbar--select {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .searchbar--select {
    height: 30px;
  }
}
.select-wrapper {
  position: relative;
  float: right;
}
@media (max-width: 767px) {
  .select-wrapper {
    width: 60%;
  }
}
.select-wrapper:after {
  content: '>';
  font: 18px "Consolas", monospace;
  color: #b3b1b1;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 20px;
  top: 19px;
  padding: 0 0 2px;
  position: absolute;
  pointer-events: none;
}
@media (min-width: 768px) {
  .select-wrapper:after {
    top: 10px;
  }
}
/* -------  Estilos aplicados a las notificaciones ------------ */
.notifications {
  width: 330px;
  display: none;
  color: black;
  float: right;
}
.HeaderContainer {
	width: 330px;
	height: 50px;
	max-height: 50px;
	background-color: #595d62;
	margin-top: -5px;
}
.HeaderContainer p {
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	padding: 15px;
	margin-left: 90px
}
.BtnNotification {
	text-decoration: none;
	padding: 8px;
	padding-right: 23px;
	padding-left: 23px;
	margin-top: 7px;
	margin-left: 5px;
	color: #fff;
	display: inline-block;
}
.BtnNotification:hover {
  color:#0091EA;
}
.BtnNotification:active {
  color:#0091EA;
}
.NotificationBody {
	width: 330px;
	height: auto;
	max-height: 350px;
	background-color: #ecf0f1;;
	overflow-y: auto;
	overflow-x: hidden;
  margin-top: 0px;
  margin-bottom: -7px;
	padding-bottom: 10px;
}
.NotificationContent {
	padding: 10px;
	padding-bottom: 5px;
	background-color: #ecf0f1;
}
.NotificationTitle {
  text-transform: uppercase;
	color: #7f8c8d;
  letter-spacing: 0.1rem;
	font-size: 1.2rem;
	margin-top: 0px;
}
.NotificationList {
	width: 100%;
	margin-top: 10px;
	background-color: #e2e8e9;
  border-radius: 0.5rem;
}
.Notification {
  color: #7f8c8d;
  letter-spacing: 0.05rem;
	width: 100%;
	height: 30px;
  padding: 0 1.5rem;
	display: table;
	cursor: pointer;
	padding-top: 10px;
	padding-bottom: 10px;
}
.Notification:hover {
	background-color: rgba(255,255,255,0.5);
}
.NotificationImage {
	width: 40px;
	max-width: 40px;
	height: 35px; float: left;
	/** background-color: rgba(44, 62, 80,0.5); **/
	background-size: cover;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-right: 1px solid #006064;
}
.NotificationImage img {
	margin-top: 4px;
	width: 30px;
	height: 30px;
	text-align: center;
	border-radius: 50%;
}
.circle {
	width: 10px;
	height: 10px;
	background-color: rgba(39, 174, 96,1.0);
	float: right;
	margin: 4px;
	margin-right: 17px;
	border-style: none;
}
.NotificationOwner {
	font-size: 14px;
	padding-left: 9px;
	max-width: 160px;
	max-height: 20px;
	overflow: hidden;
	margin: 0px;
	padding-left: 20px;
}
.Notification  .NotificationDate {
	float: right;
	font-size: 11px;
	margin: 0px;
	margin-right: 35px;
	margin-top: 10px;
	font-style: oblique;
}
#ShowNotification {display: none;}

#ShowNotification:checked ~ .NotificationContainer {
	 display: block;
	 position: absolute;
	 z-index: 99999;
	 margin-top: 50px;
	 float: right;
	 right: 0;
	 margin-right: 75px;
}
/* -------  FIN Notificaciones ------------ */
/*------------------------------------------------------------------------------------------*/
/* inicio delmodelo responsitive*/
@media only screen and (max-width: 765px) {
  .navbar {
    background-color: #1b232a;
    color: #fff;
  }
  .navbar-toggle{
    background-color: #1b232a;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: transparent;
    color: red;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
      color: blue;
    background-color: transparent;
  }
  .navbar-default .navbar-toggle {
    border:0px;
  }
  .navbar-default .navbar-brand {
    color: #fff;
  }
  .navbar-default .navbar-text {
    color: #fff;
  }
  .navbar-default .navbar-nav>li>a {
    color: #fff;
  }/*
  .FloatRightMenu {
    margin-left: 7px;
  }
  #demo-2 input[type=search]:focus {
    width: 100%;
  }
  .FloatRightMenu input[type=search] {
    background: url(../../assets/files/img/search/white.png) no-repeat 9px center;
  }*/
}
