
<div>
  
  <h2 class="TitleCont1" translate>StoressTitle</h2> <!-- Categoria o clasificacion -->
  <!-- Contenedor de los Tiles de esas categorias -->
  <div class="TilesSections">
    <!-- Tiles -->
    <tile-general ng-repeat="business in vm.store" info="business"></tile-general>
  </div> <!-- FIN DEL CONTAINER -->
  <hr class="separator" >
</div>
<!---------------------------------------------------------------------------------------------->
<div>
  <h2 class="TitleCont1" translate>HandicraftssTitle</h2> <!-- Categoria o clasificacion -->
  <div class="TilesSections">   <!-- Contenedor de los Tiles de esas categorias -->
    <!-- Tiles -->
    <tile-general ng-repeat="business in vm.handicrafts" info="business"></tile-general>
  </div> <!-- FIN DEL CONTAINER -->
  <hr class="separator" >
</div>
<!---------------------------------------------------------------------------------------------->
<div>
  <h2 class="TitleCont1" translate>Home appliancesTitle</h2> <!-- Categoria o clasificacion -->
  <!-- Contenedor de los Tiles de esas categorias -->
  <div class="TilesSections">
    <!-- Tiles -->
    <tile-general ng-repeat="business in vm.homeappliances" info="business"></tile-general>
  </div><!-- FIN DEL CONTAINER -->
  <hr class="separator" >
</div>
<!---------------------------------------------------------------------------------------------->
<div>
  <h2 class="TitleCont1" translate>Auto PartssTitle</h2> <!-- Categoria o clasificacion -->
  <!-- Contenedor de los Tiles de esas categorias -->
  <div class="TilesSections">
    <!-- Tiles -->
    <tile-general ng-repeat="business in vm.autoparts" info="business"></tile-general>
  </div> <!-- FIN DEL CONTAINER -->
  <hr class="separator" >
</div>
<!---------------------------------------------------------------------------------------------->
<div>
  <h2 class="TitleCont1" translate>EducationsTitle</h2> <!-- Categoria o clasificacion -->
  <!-- Contenedor de los Tiles de esas categorias -->
  <div class="TilesSections">
    <!-- Tiles -->
    <tile-general ng-repeat="business in vm.education" info="business"></tile-general>
  </div> <!-- FIN DEL CONTAINER -->
  <hr class="separator" >
</div>
<!---------------------------------------------------------------------------------------------->
