
<div>
  
  <h2 class="TitleCont1" translate>RestaurantsTitle</h2> <!-- Categoria o clasificacion -->
  <!-- Contenedor de los Tiles de esas categorias -->
  <div class="TilesSections">
    <!-- Tiles -->
    <tile-general ng-repeat="business in vm.restaurant" info="business"></tile-general>
  </div> <!-- FIN DEL CONTAINER -->
  <hr class="separator" >
</div>
<!---------------------------------------------------------------------------------------------->
<div>
  <h2 class="TitleCont1" translate>PubsTitle</h2> <!-- Categoria o clasificacion -->
  <div class="TilesSections">   <!-- Contenedor de los Tiles de esas categorias -->
    <!-- Tiles -->
    <tile-general ng-repeat="business in vm.pub" info="business"></tile-general>
  </div> <!-- FIN DEL CONTAINER -->
  <hr class="separator" >
</div>
<!---------------------------------------------------------------------------------------------->
<div>
  <h2 class="TitleCont1" translate>Coffee ShopsTitle</h2> <!-- Categoria o clasificacion -->
  <!-- Contenedor de los Tiles de esas categorias -->
  <div class="TilesSections">
    <!-- Tiles -->
    <tile-general ng-repeat="business in vm.coffeeshop" info="business"></tile-general>
  </div><!-- FIN DEL CONTAINER -->
  <hr class="separator" >
</div>
<!---------------------------------------------------------------------------------------------->
<div>
  <h2 class="TitleCont1" translate>Natural ShakessTitle</h2> <!-- Categoria o clasificacion -->
  <!-- Contenedor de los Tiles de esas categorias -->
  <div class="TilesSections">
    <!-- Tiles -->
    <tile-general ng-repeat="business in vm.naturalshakes" info="business"></tile-general>
  </div> <!-- FIN DEL CONTAINER -->
  <hr class="separator" >
</div>
<!---------------------------------------------------------------------------------------------->
<div>
  <h2 class="TitleCont1" translate>BuffetsTitle</h2> <!-- Categoria o clasificacion -->
  <!-- Contenedor de los Tiles de esas categorias -->
  <div class="TilesSections">
    <!-- Tiles -->
    <tile-general ng-repeat="business in vm.buffet" info="business"></tile-general>
  </div> <!-- FIN DEL CONTAINER -->
  <hr class="separator" >
</div>
<!---------------------------------------------------------------------------------------------->
