<!-- ----------------     IMPORT CSS FILES     ------------------------- -->
<link rel="stylesheet" href="../../../assets/css/GeneralTiles.css">
<!-- ----------------     END IMPORT FILES     ------------------------- -->
<div class="ContainerAlltoAll">
    <!-- ----------------     IMPORT HTML MENU BAR     ------------------------- -->
    <div ng-include src="'modules/templates/NavBar.html'"> </div>
    <!-- ----------------     IMPORT HTML CAROUSEL SLIDER     ------------------------- -->
    <div ng-include src="'modules/templates/GeneralSlider.html'"> </div>
    <!-- ------------------------------------------------------------------------------ -->

    <!-- ----------------     BARRA PARA FILTRAR POR CIUDAD    ------------------------- -->
    <div class="FilterOptions">
        <div class="AllFilterOptions">
            <div class="btn-group" uib-dropdown dropdown-append-to-body>
                <button  id="btn-append-to-body" type="button" class="btn btn-primary" ng-click="vm.print()" uib-dropdown-toggle>
                  {{'FilterTitle' | translate}}<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                    <li role="menuitem"><a href="#" translate="">FilterTitle</a></li>
                    <li class="divider"></li>
                    <li role="menuitem"><a href="#" translate="">OthersTitle</a></li>
                </ul>
            </div>
            <button class="BtnLeft" onmouseover="left=1" ng-click="vm.move(-3)"> <i class="material-icons">keyboard_arrow_left</i> </button>
        </div>
        <div class="Filters">
            <div id="filler" style="left:0px">
                <a href=""><div class="module">ESTELI</div></a>
                <a href=""><div class="module">MATAGALPA</div></a>
                <a href=""><div class="module">JINOTEGA</div></a>
                <a href=""><div class="module">LEON</div></a>
                <a href=""><div class="module">CHINANDEGA</div></a>
                <a href=""><div class="module">ESTELI</div></a>
                <a href=""><div class="module">MATAGALPA</div></a>
                <a href=""><div class="module">JINOTEGA</div></a>
                <a href=""><div class="module">LEON</div></a>
                <a href=""><div class="module">CHINANDEGA</div></a>
                <a href=""><div class="module">ESTELI</div></a>
                <a href=""><div class="module">MATAGALPA</div></a>
                <a href=""><div class="module">JINOTEGA</div></a>
                <a href=""><div class="module">LEON</div></a>
                <a href=""><div class="module">CHINANDEGA</div></a>
                <a href=""><div class="module">ESTELI</div></a>
                <a href=""><div class="module">MATAGALPA</div></a>
                <a href=""><div class="module">JINOTEGA</div></a>
                <a href=""><div class="module">LEON</div></a>
                <a href=""><div class="module">CHINANDEGA</div></a>
            </div>
        </div>
        <div class="RightFilterOption">
            <button class="BtnRight" onmouseover="right=1" ng-click="vm.move(3)"> <i class="material-icons">navigate_next</i> </button>
        </div>
    </div>
    <!-- ------------------------------------------------------------------------------ -->

    <!-- ----------------     IMPORT HTML BODY TILES     ------------------------- -->
    <div ng-include src="'modules/fad/GeneralTiles.html'"> </div>
    <!-- ------------------------------------------------------------------------------ -->
</div>
